[2019-10-11 12:05] tpayet opened #1 "Federated search"
For a better customer experience, users should be able to implement a federated search -> search into multiple index from the same input.

[2019-10-22 14:37] bidoubiwa opened #4 "Should replace applicationId with projectId"
## Bug report

- @meili/meili-api version: _0.0.9_ ()

### Current behaviour

Project is now used as naming for a collection of indexes and not application

[code]

[2019-10-23 14:28] dependabot-preview[bot] opened #5 "Dependabot can't parse your yarn.lock"
Dependabot couldn't parse the yarn.lock found at `/yarn.lock`.

The error Dependabot encountered was:

[code]

[2019-10-24 12:31] #5 closed

[2019-11-14 10:31] bidoubiwa opened #77 "Should be possible to connect to localhost"
## Feature request
Adding compatibility with localhost connexion with or without API_KEY

### Use case(s)
development, testing, when using the open-source binary

[2019-12-02 12:30] #77 closed

[2019-12-16 10:05] bidoubiwa opened #115 "Join on string parameter"
## Bug report

- @meili/meili-api version: _0.8.0_
- Affected browsers (and versions): Chrome 78.0
### Current behaviour

When sending a query parameter already formatted to fit in the url

[code]

[code]

### Expected behaviour

Either it accepts both form, in array of string format, either it returns a clear error of the problem.

[2020-01-05 14:21] Th3Whit3Wolf opened #130 "Example Request using locally hosted instance of meilisearch"
I am making a [Zola](https://github.com/getzola/zola)(static site generator built with rust) startpage theme and I would like to add some awesome functionality that would allow the user to type `rs ` and then be able to search crates & rustdoc similiar to this [rust search extension](https://github.com/Folyd/rust-search-extension). I think it would be awesome to have a startpage that can help them

[2020-01-06 10:00] curquiza commented on #130
Hello! Thank you for your interest :)

Meilisearch-js is only a client for the [MeiliSearch API](https://github.com/meilisearch/MeiliSearch).
MeiliSearch is a relevant instant search engine, and it's open-source. If I understand well your project, MeiliSearch can help you to handle the search feature you want.
All the information you need to use MeiliSearch is in the [documentation](https://docs.m

[2020-01-09 17:01] #115 closed

[2020-01-10 12:23] bidoubiwa opened #147 "Yarn build failed with exit code 1"
If you encounter this error when `yarn build`.

[code]

the `yarn format:fix` is not executed automatically when building. It has to be done manually before building. If there is a style error the build is not completed without more explanations than `exit code 1`. If you have this error it means you need to `yarn format:fix`.

Potentially it could also be the tsc version. Check if your are at the

[2020-01-10 12:32] bidoubiwa commented on #147
Fixed with #148. Now `yarn build` also fixes linting problems.

[2020-01-10 12:35] #147 closed

[2020-01-13 17:52] bidoubiwa opened #163 "Create github actions to push to npm on new tag"
Should create a GitHub action that automatically publish on npm when creating a new version tag.

[2020-01-13 18:18] curquiza opened #164 "Automatization of package push to npm"
Automatization of [package](https://www.npmjs.com/package/@meilisearch/meili-api) push to npm.

[2020-01-13 18:20] curquiza opened #165 "Change name of package"
Change the name `meili-api`.

[2020-01-14 16:46] bidoubiwa opened #166 "Search route badly formatted"
The search route should have this as a prototype :

index.search(query: string, [options: object])

Options being optional and query mandatory.

[2020-01-15 10:42] bidoubiwa commented on #130
@Th3Whit3Wolf We finished the client. Could you tell me by the readme if you understand better how to use it?
Enjoy!

[2020-01-15 10:42] #4 closed

[2020-01-31 06:25] Th3Whit3Wolf commented on #130
I have had difficulty finding time for my project at the moment. Thank you for your help. When I have time to comeback to it if I have any problems I'll definitely let you know if I have any problems.

[2020-01-31 06:25] #130 closed

[2020-02-11 12:49] bidoubiwa commented on #166
fixed: #218

[2020-02-11 12:49] #166 closed

[2020-02-11 12:53] #165 closed

[2020-02-11 12:53] #163 closed

[2020-03-12 11:14] curquiza commented on #164
Works from [this PR](https://github.com/meilisearch/meilisearch-js/pull/226/files)

[2020-03-12 11:14] #164 closed

[2020-03-13 16:29] bidoubiwa opened #250 "CORS issue when used in browser"
Potentially, the use of the head "X-MEILI-API-KEY" Could result in a CORS problem where the header is forbidden.

This should be tested and should have a fix. Maybe this package could recognize the environment in which the package is used (server or client) and act on the headers permission accordingly?

[2020-03-18 10:19] bidoubiwa opened #256 "Create error handler"
For the moment the throws are native or given from axios to the client. They should be more clear.

[2020-03-18 13:57] bidoubiwa opened #258 "Replace sleep in test with setInterval"
For the moment to test if the requests to MeiliSearch worked, sleeps are putted randomly to let the server finish all its tasks.

This is not a consistent way of testing. It should be a loop that checks every other second if the status of the task is processed.

[2020-03-21 14:46] curquiza opened #262 "Getting started does not work"
I tried:
[code]

In `test.js`
[code]

Then:
[code]

I get:
[code]
(Same error if I try with `getIndex`)

Can we do a getting started directly working for the JS beginners like me? 😇

### Version
meilisearch: `v0.9.0`
node: `v10.18.1`

[2020-03-21 19:38] Giorat commented on #262
#### How to solve this issue
You are not using an async wrapper. This is an issue related to the correct usage of await.

[code]

#### Library improvement idea just on methods like addDocuments or createIndex:
By wrapping the entire block of your code inside an async block this issue will be solved.

A possible improvement could be handling every method in the library also with a synch version lik

[2020-03-21 19:40] Giorat opened #264 "Issue in the README with addOrReplaceDocuments"
From this paragraph: https://github.com/meilisearch/meilisearch-js#add-documents-

"addOrReplaceDocuments" doesn't exist, should be replaced with "addDocuments"

[2020-03-23 09:54] curquiza commented on #262
Thanks a lot for your help @Giorat :) It works like that.

Yes, doing a sync version is in our to-do list, we haven't put any issue about that yet, but I will do it :)

[2020-03-23 09:56] curquiza commented on #264
Hello!
Thanks for having noticed it! Indeed, it should be changed :)

[2020-03-23 10:06] bidoubiwa commented on #264
Thanks, I changed it.

[2020-03-23 10:07] #264 closed

[2020-03-23 10:07] curquiza opened #271 "Sync version of some methods"
Following the suggestion of a contributor, some methods of this wrapper could have a sync version.

Here is the suggestion: https://github.com/meilisearch/meilisearch-js/issues/262#issuecomment-602093203

[2020-03-26 14:50] #262 closed

[2020-03-27 15:13] bidoubiwa opened #280 "remove 1000ms timeout"
I would want to be able to get search results that take more than 1000ms to come back.

[2020-04-01 11:43] alexisvisco opened #287 "Use the powerful typing from typescript for SearchResponse"
Hey! In the Go library there are no generics so I am a bit blocked to make a suitable return for the response to the hit.

TypeScript has a strong typing system and you should use it.

An exemple with the `SearchResponse` :

[code]

This to ensure that there may have a `_formatted` field in each object in the hits property.

[2020-04-02 09:49] bidoubiwa commented on #287
Hey!
Thanks a lot. That's way better. I'm rebuilding the whole package because of its outdated packages. Your suggestion will be added to this rebuild.

[2020-04-09 13:17] curquiza opened #303 "Make the createIndex method to return an Index object"
Currently, if we create an index, we have to get it just after to use the associated methods:

[code]

It would be better to return an Index object in the `createIndex` method, so that we can write:

[code]

This suggestion is breaking and should wait for the `v0.10.0` of MeiliSearch to be implemented 😉

[2020-04-23 16:42] bidoubiwa commented on #262
We are adding a function that is called `waitForPendingUpdate` and that will await until the action of which ID you gave as parameter has been processed by MeiliSearch.

as you can see here meilisearch/integrations-guides#1

[2020-04-23 16:42] bidoubiwa commented on #271
We are adding a function that is called waitForPendingUpdate and that will await until the action of which ID you gave as parameter has been processed by MeiliSearch.

as you can see here meilisearch/integrations-guides#1

[2020-04-23 16:42] #271 closed

[2020-04-23 16:43] #258 closed

[2020-04-28 09:20] bidoubiwa opened #321 "Create tests with NPM PACK"
Before any publish we should test the packages with npm pack during CI testing.

## How to use npm pack

`npm pack` generated a `tgz` file that will the same that you would download from npm.

In the meilisearch-js SDK:
[code]
This will create : `meilisearch-0.10.0.tgz` (the number being the actual version of the package)

In another project:
[code]
The path to the generated `tgz` file.

## Why sh

[2020-04-28 09:26] bidoubiwa opened #322 "Create tests on multiple version of node (12, 14, ..)"
For the moment we only make our tests run on node version Ubuntu is using (which is 12).

We should test that our package work on the most popular node versions (i.e: at least 12 and 14)

## How
Using dockers containers
[code]

or

[code]
But beware, it happened multiple times that download from node became really slow ([[1]](https://github.com/actions/setup-node/issues/132)[[2]](https://github.co

[2020-04-28 17:53] bidoubiwa opened #325 "Make TSDOC commentaries for all methods"
For the moment, there is a basic `jsdoc` implementation above each function.

This should be extended by adding:
- `@params` to each function commentary
- `@returns`to each function commentary

https://compodoc.app/guides/jsdoc-tags.html
Other propositions are welcome. I'm considering tsDoc but there is a lack in documentation.

[2020-04-29 12:49] #256 closed

[2020-04-29 12:49] #303 closed

[2020-04-29 13:35] bidoubiwa commented on #287
Hey @alexisvisco I have updated the whole js library and its typing. Do you think it is better now?

[2020-05-03 17:52] curquiza opened #343 "getOrCreateIndex method"
Issue fully detailed [here](https://github.com/meilisearch/integration-guides/issues/2).

[2020-05-03 18:18] curquiza opened #344 "deleteAllIndexes method"
Issue fully detailed [here](https://github.com/meilisearch/integration-guides/issues/11).

[2020-05-10 07:26] mhaagens opened #357 "TypeError: index.updateSynonym is not a function"
[code]

[2020-05-10 07:30] mhaagens commented on #357
I see now it should be `index.updateSynonyms()`, plural.
The synonym object value should also be an object of keys with the values as arrays.
[code]

[2020-05-10 07:30] #357 closed

[2020-05-13 17:19] eskombro opened #373 "Add a link in the README to the integration guides"
Related to https://github.com/meilisearch/integration-guides/issues/7

[2020-05-13 17:45] #373 closed

[2020-05-20 12:06] sonukumar141 opened #390 "MeiliSearch Integration with Nuxt.js"
Hi, I am trying to use MeiliSearch in my app which is written in Nuxt.js.
I have downloaded the meilisearch project from github and running it on 127.0.0.1:7700 as per the document. I have also imported the javascript sdk 'meilisearch' as per the document.

Can anyone guide me use it properly in my app.
I have written below code in my vue compoent.
import MeiliSearch from 'meilisearch';   // For i

[2020-05-20 13:46] #390 closed

[2020-05-22 14:05] bidoubiwa commented on #390
Hey sonukumar141.

It is because `index.search("xxx")` returns an object.
The object looks like this :
[code]

In your example your are transforming the [object in a string](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/toString) which output:  `[Object, Object]`.

Could you try the following:
[code]

For more information on the hits:
[code]

[2020-05-24 21:06] curquiza commented on #344
Close with [this discussion](https://github.com/meilisearch/integration-guides/issues/11#issuecomment-633298258).

[2020-05-24 21:06] #344 closed

[2020-06-01 12:09] bidoubiwa opened #410 "Client not working when importing CJS in ESM"
In some circumstances the MeiliSearch packages was not importable.
It threw an error when trying to use it.

## When does the problem occurs

When trying to import MeiliSearch in an `es6` environments that imports the `main` package present in the package.json and not the `module` package, it imports the `cjs` version and not the `esm`.

This throws an error.

## Exemple

Using NestJS :

[code]

[

[2020-06-01 14:35] #410 closed

[2020-06-02 10:45] curquiza commented on #410
Well explained! Thanks and well done! 🎉 @bidoubiwa

[2020-06-03 09:19] bidoubiwa opened #416 "Update on code-sample file, add attributes for faceting"
Those 3 cURL examples samples should be added to the javascript
`.code-samples.meilisearch.yaml`

[code]

[2020-06-08 16:03] emyann commented on #287
@bidoubiwa I'm on the version `v0.10.0` but I can't figure out how to make the most of the generics when using the `search` method. Actually the signature is
[code]
So when using `index.search()` it's not possible to define the type of `Hit<T>`, is there something I missed ?
Thank you!

[2020-06-09 07:45] bidoubiwa commented on #287
Hey @emyann
you'r missing this part :
[code]

Nevertheless, how would you change the typing so that you can pass down the type of Hit?

[2020-06-09 13:47] emyann commented on #287
@bidoubiwa I noticed the generic `Hit<T>` but it's not possible to define the type when using the search with the actual types. I could actually override it globally but I guess it does not make sense because you want to define the Hit type per index basis.

If the search definition would have been the following:
[code]

I would be able to achieve what I'm looking for.
[code]

I'm happy to create

[2020-06-09 14:18] bidoubiwa commented on #287
This is a great addition! Thanks a lot.
If you make a PR I will accept it.

Btw, don't forget to change it in line 243 of `types.ts` file.
[code]

[2020-06-09 20:05] emyann commented on #287
@bidoubiwa Great! Here it is then https://github.com/meilisearch/meilisearch-js/pull/438! Please let me know if you have questions and feedbacks regarding my comments on the PR

[2020-06-12 23:02] eskombro opened #444 "Docs examples: get keys example not displayed"
In the API reference, the [get keys example](https://docs.meilisearch.com/references/keys.html#example) is not displayed for JavaScript, but the example is present in the [js examples file](https://github.com/meilisearch/meilisearch-js/blob/master/.code-samples.meilisearch.yaml#L40)

[2020-06-15 08:58] #444 closed

[2020-06-17 11:53] stephanoparaskeva opened #456 "attributesForFaceting type in settings"
I'm looking to add attributesForFaceting to my initial settings for an index like so:
[code]

The code completion/types don't seem to be there. Is this yet to be implemented?
The docs express that you can explicitly call:
[code]
Should this be used instead, after the initial `updateSettings` call?

### Version 0.11

[2020-06-17 11:56] stephanoparaskeva commented on #456
Closing as I see the types exist, it may just perhaps be my IDE:
[code]

[2020-06-17 11:56] #456 closed

[2020-06-17 21:29] stephanoparaskeva opened #458 "Facet Search Not Working Correctly and Docs Incorrect"
#### JS snippet in docs indicates no need for quotes `"`

[code]

#### Additionally Facet Filter is not working for me on Front-End

---

### Example
[code]

[code]

Console Output

Result

### Version 0.11

[2020-06-18 09:02] MarinPostma commented on #458
![image](https://user-images.githubusercontent.com/28804882/84999605-aeb84280-b151-11ea-8dd1-02be4a0d51b1.png)

it seems to be workking on the engine side, @bidoubiwa can you investigate to see if the issue is not coming fron the js sdk?

In the meantime, @stephanoparaskeva, can you send me your settings?
`curl  -X GET 'http://localhost:7700/indexes/:index_uid/settings'`

[2020-06-18 09:17] bidoubiwa commented on #458
So I'v done some tests:

[code]
This outputs correctly with the facetFilters and differently without the facetfilter.
This is also working:

[code]

as per the tests in `tests/search_tests.ts`

And thus I finally tried yours :

[code]

Which is different if I remove the filter!

Could you show us your settings?
[code]

[2020-06-19 20:46] curquiza opened #466 "Multiple issues when using umd file"
### Disclaimer
🙋‍♀️ **I'm so sorry if I missed something really obvious in JS to remove these errors, but I'm stuck...**

## With `v0.11.0`

In my `index.html`

[code]

I get in the console:

[code]

<img width="1261" alt="Capture d’écran 2020-06-19 à 22 46 30" src="https://user-images.githubusercontent.com/20380692/85178426-be817500-b27e-11ea-8f26-3169c3e7e068.png">

#### NB

No error message w

[2020-06-22 08:12] bidoubiwa opened #470 "Use iife for browser and cjs for node"
# UMD bundle

In this issue I want to show you why the UMD is not working in its current state (466), why we will first go through a step where `iife` is used for browser and `cjs` for node, and later, a step where `UMD` works.

In the first step, we create a simple ES code that will be transpiled into UMD javascript. We [follow the steps given here](https://remarkablemark.org/blog/2019/07/12/roll

[2020-06-22 08:16] bidoubiwa commented on #466
Following this open issue: #470

### The UMD file should be importable in an HTML (see the first point)
For UMD to be importable we need to remove axios from the library and replace it with fetch.
Because this a long run solution, a more fast solution would be to separate the bundles into a node and a browser bundle:
- iife for browser
- cjs for node

The `cjs` would be the `main` one in package.j

[2020-06-22 08:55] curquiza commented on #466
The import works in v0.10.1 and we use axios in this version if I'm not wrong. Why?

[2020-06-22 08:59] bidoubiwa commented on #466
By `umd` working I mean that it works both in node env and in browser env. Does the `v0.10.1` `umd` also work in node environment?

[2020-06-22 09:09] curquiza commented on #466
I don't know 😅 My question was about the browser: why can I use the umd `v0.10.1` file in the browser (with `<script>`) without any error but not the `v0.11.0` one?

[2020-06-22 09:12] bidoubiwa commented on #466
Could you read #470 ? I think it answers your question

[2020-06-22 09:23] bidoubiwa commented on #466
I just tried in node, the `umd` works. Well... this is getting annoying.

[2020-06-22 09:27] curquiza commented on #466
I read it 🙂 But I did not find my answer, sorry maybe I don't have the JS skills to understand.
What are the changes between the `v0.10.1` and the `v0.11.0` to make the `<script>` import fail in the `v0.11.0` but not in the `v0.10.1`?

[2020-06-22 09:33] bidoubiwa commented on #466
That is what I'm trying to find out. Just c/c de rollup.config does not resolve the problem.

[2020-06-22 10:09] bidoubiwa commented on #466
So I tried `umd` in v.0.10.1.
It imports but does not work because `axios` is missing.

[code]

output
[code]
The `create` mentioned in this error comes from here:

[code]

`instance` is the `axios` object. Which is undefined.

Are you sure `umd` works in your v0.10.1.
Could you try the following:
<script src="https://cdn.jsdelivr.net/npm/meilisearch@0.10.1/dist/bundles/meilisearch.umd.js"></scrip

[2020-06-22 10:29] tpayet commented on #250
Hey, is this still an issue?

[2020-06-22 10:39] bidoubiwa commented on #466
To make it work with the UMD of the `v0.10.1` you should add the axios CDN like this (order is important):

[code]

[2020-06-22 12:23] curquiza commented on #466
It works with `<script src="https://unpkg.com/axios/dist/axios.min.js"></script>`

Thanks!! 😁

Question:

I do not use `window` and it works:
[code]
What does `window` mean in this situation?

[2020-06-22 14:02] bidoubiwa commented on #466
It's the global variable for the browser.
As is `global` for node.

What is declared globally is accessible via windows or via the variable itself. I guess.
https://developer.mozilla.org/fr/docs/Web/API/Window

[2020-06-22 14:09] bidoubiwa commented on #466
The reason why it was not importable between two version is because an overwrite of the `umd` bundle with the `cjs` bundle was done in `rollup.config.js`.
This has been fixed.

For the next version this is how import will work in the client:

# How to import MeiliSearch in v0.12 >

## Node - CommonJs

[code]

## Browser - vanilla JS
[code]
## EcmaScript module - esm

[code]
Important, if your bund

[2020-06-23 11:50] bidoubiwa opened #472 "Test MeiliSearch import in different environments"
As stated in this stackoverflow: https://stackoverflow.com/questions/62515376/how-to-test-if-library-imports-correctly-in-different-environments

I would like to test if MeiliSearch imports correctly in the following environments:
- node with `cjs`
- node with `esm` and a transpiler
- browser with `umd`
- browser with `esm` and a transpiler

Examples are provided in the `/examples` folder at the r

[2020-06-24 16:39] #466 closed

[2020-06-28 19:46] curquiza commented on #343
Closes with #436

[2020-06-28 19:46] #343 closed

[2020-06-29 11:56] peitalin opened #482 "Type alias 'FacetFilter' circularly references itself."
I'm getting a type error when building a typescript codebase with meilisearch-js:
[code]

Currently using `"skipLibCheck": true` in `tsconfig.json` as a workaround.

[2020-06-29 13:52] bidoubiwa commented on #482
Hey ! What is the environment you used to have this error raised ?
I tried in multiple typescript environment and it did not raise that issue.
Nevertheless, I removed the circular reference! Thanks for bringing this issue in :)

[2020-06-30 09:41] #482 closed

[2020-07-05 06:30] JoshGlazebrook opened #491 "Global settings update type out of date"
When calling `someIndex.updateSettings(...)` the types currently have a [indexNewProperties](https://github.com/meilisearch/meilisearch-js/blob/master/src/types.ts#L137) field, but the actual field name is `acceptNewFields`.

See: https://docs.meilisearch.com/references/settings.html#update-settings

Seems like if the tests were written in typescript as well this would have been caught easier.

[2020-07-05 06:43] JoshGlazebrook commented on #491
Went ahead and made #492

[2020-07-06 11:45] curquiza opened #497 "Re-write all the tests with TypeScript"
Since our library works for TypeScript, could we re-write all the tests in TypeScript? The goal is to avoid this kind of mistake in #491 according to one of our contributors.

What do you think @bidoubiwa? Would this issue prevent other mistakes like this?
How huge would be this work? 🙂

[2020-07-14 00:18] eskombro opened #504 "Remove sys-info routes"
As stated in https://github.com/meilisearch/MeiliSearch/pull/810 and https://github.com/meilisearch/integration-guides/issues/36 the sys-info routes will be considered as deprecated in MeiliSearch v0.13.0. These routes should be removed from this SDK accordingly.

[2020-07-14 00:19] eskombro opened #505 "Implement POST route in search method"
According to https://github.com/meilisearch/integration-guides/issues/37, and after [this decision](https://github.com/meilisearch/integration-guides/issues/37#issuecomment-652935842), this SDK should implement `POST` and `GET` search routes.

[2020-07-21 09:14] bidoubiwa commented on #497
Hey @curquiza,
The tests are made in typescript. The reason why the bug went unoticed is because the bad naming was done on the `settings` type, that is used only we directly using the `settings` route.

During the tests on the setting route we did not try to change `acceptNewFields`, thus it went unoticed.

(`.ts` stands for typescript)
<img width="309" alt="Screenshot 2020-07-21 at 11 13 53" src

[2020-07-21 09:22] curquiza commented on #497
Ok good to know!

Are there other settings we don't test correclty like the `acceptNewFields` was?

[2020-07-21 09:31] bidoubiwa commented on #497
I hope not

[2020-07-21 10:27] #287 closed

[2020-07-22 15:00] bidoubiwa opened #522 "Make eslint work on es, node and typescrypt files"
For the moment only the `.ts` files are correctly linted.

Some javascript `import/export` files are also linted correctly but recieve typescript warning as the following :

[code]

The whole `scripts` directory written in node `require/exports` are conflicting with the linter rules:

[code]

It would be nice if the `eslintrc`  files could make rules based on the file types.

When I add the lintin

[2020-07-22 15:11] bidoubiwa opened #524 "Cleanup tsconfig file"
Since we use `rollup-plugin-typescript2` some configuration from our `tsconfig.json` are ignored.
Still, it is used by the linter as a parser.

It would be great if someone with good typescript knowledge could cleanup the file or even improve it if needed.

[2020-07-28 14:36] curquiza commented on #504
Closed with #528

[2020-07-28 14:36] #504 closed

[2020-08-08 10:08] hubalt opened #538 "Placeholder search"
I believe v0.13 introduces placeholder (no query string) search. It's not clear how to use it with the Javascript client though. I tried using an empty string + facet filters and that didn't return any hits. If it is already implemented, an example in the docs would be cool.

[2020-08-08 12:20] bidoubiwa commented on #538
Hey, good idea. I will add an example in the readme. To make it work, query should be `null`.

[2020-08-09 20:13] bidoubiwa commented on #505
fixed: #529

[2020-08-09 20:13] #505 closed

[2020-08-10 13:56] bidoubiwa commented on #538
Fixed by: #544

[2020-08-13 09:53] #538 closed

[2020-09-02 17:14] #416 closed

[2020-09-02 17:15] bidoubiwa commented on #491
Fixed by #506

[2020-09-02 17:15] #491 closed

[2020-09-02 17:15] #497 closed

[2020-09-08 16:33] bidoubiwa opened #581 "Make package compatible with node <v12.0"
Because of the function [`fromEntries`](https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/Object/fromEntries) used in this repo the package is not compatible in environments with a node version lower than v12.

This is an unecessary restriction as there are many alternatives to this function.

[2020-09-09 00:11] Asher-q opened #582 "Type Document seem to be not combitable with other interfaces"
This is the Document type.
[code]

It is supposed to accept any objects { } with appropriate values.  See the example below
[code]
This isn't making any sense. Because if I remove the interface (`IName`) of `testObj`, this suddenly works just fine. That means it works as it is supposed to. So what's up with the type error?
[code]

Another great example would the README.md file
[code]
Here each obj

[2020-09-09 09:38] bidoubiwa commented on #582
@emyann could you explain this choice ?

[2020-09-10 11:27] #470 closed

[2020-09-11 19:32] emyann commented on #582
@bidoubiwa Thanks for the heads up! I'll have a look on this over the weekend and provide a fix accordingly.

[2020-09-21 12:46] bidoubiwa commented on #582
Hey @emyann, really sorry for the delay. I was on vacation. I'm back :)

[2020-09-28 14:54] curquiza commented on #250
@bidoubiwa, again, is this still an issue? 😁

[2020-09-28 14:59] curquiza commented on #280
@bidoubiwa, dummy question: is this still an issue since we removed axios?

[2020-09-28 15:00] curquiza commented on #322
Closed with https://github.com/meilisearch/meilisearch-js/pull/584

[2020-09-28 15:00] #322 closed

[2020-09-28 15:02] curquiza commented on #458
I close this issue since we don't have enough information. Feel free to re-open it! 🙂

[2020-09-28 15:02] #458 closed

[2020-09-28 15:02] curquiza commented on #472
If I understand well, this issue is fixed @bidoubiwa, right? 🙂

[2020-09-28 15:03] curquiza commented on #581
Fixed with #583

[2020-09-28 15:03] #581 closed

[2020-09-29 15:24] bidoubiwa commented on #472
This issues has been fixed bu #584

[2020-09-29 15:24] #472 closed

[2020-09-29 15:59] bidoubiwa commented on #280
Should be tested !

[2020-09-29 16:02] bidoubiwa commented on #250
Should be tested!

[2020-09-29 17:16] gczh opened #611 "Wrong example for search_parameter_guide_crop_1"
In the [Attributes to Crop](https://docs.meilisearch.com/guides/advanced_guides/search_parameters.html#attributes-to-crop) section of the documentation, a wrong example is given. This results in the following error when it's run:

[code]

The current example used is:

[code]

The correct example should be:

[code]

Notice that attributesToCrop is an array. The correct example is also standardized

[2020-09-30 07:57] curquiza commented on #611
Thanks @gczh! I'm on it, see #612

[2020-10-01 10:24] #611 closed

[2020-10-12 09:32] bidoubiwa opened #622 "CI does not pass on some occasion"
Somes it's on node 10, sometimes on node 12 or 14.

<img width="864" alt="Screenshot 2020-10-12 at 11 29 22" src="https://user-images.githubusercontent.com/33010418/95730194-320c1f80-0c7e-11eb-9764-f20e82d6016b.png">

It is always the same test that is failing. I guess it is because we should give the server more time somewhere to complete its task.

The failing test is in `/tests/env/express`.

H

[2020-10-12 16:21] eskombro opened #623 "Tests shouldn't rely on error message but on error code"
In several tests there is an assertion to check if an error is thrown. Currently, tests like [this one](https://github.com/meilisearch/meilisearch-js/blob/master/tests/index_tests.ts#L115-L117) check that the corresponding error message corresponds to what's expected.

Error messages are subject to change anytime by MeiliSearch core and there is no guarante of stability or reliability. Checking if

[2020-10-13 19:59] gkovalechyn opened #624 "Field "nbHits" is missing from the response type definition"
According to the documentation the search calls return the total number of documents that matched the search query ([https://docs.meilisearch.com/guides/advanced_guides/search_parameters.html#the-facets-distribution](https://docs.meilisearch.com/guides/advanced_guides/search_parameters.html#the-facets-distribution)) but that field seems to be missing from the response type definition: [https://git

[2020-10-14 09:06] bidoubiwa commented on #624
Thanks a lot for taking the time to come here and communicate this error with us :)

[2020-10-14 13:22] eskombro opened #626 "Implement dumps (add tests and code samples)"
Since [v0.15.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.15.0), MeiliSearch exposes a new functionality: [dumps](https://docs.meilisearch.com/references/dump.html#dumps)

This feature should be implemented in this SDK following [this specificacions](https://github.com/meilisearch/integration-guides/issues/44)

- [x] Implement dump creation route
- [x] Implement get dump status ro

[2020-10-14 13:24] curquiza commented on #626
Partially fixed with https://github.com/meilisearch/meilisearch-js/pull/616

[2020-10-14 14:09] eskombro commented on #626
Thanks, sorry, didn't catch that!

[2020-10-14 14:10] #624 closed

[2020-10-15 08:27] bidoubiwa commented on #582
Hey @emyann,
If you have no time to resolve this, which is not a problem! Could you tell me so someone else can be assigned to this issue?

[2020-10-15 08:47] #626 closed

[2020-10-15 13:45] eskombro opened #630 "User should be able to drop a pending search request - Discussion"
When implementing a type-as-you-search experience, IMHO, the best experience comes from sending a search request immediately as the user types / modifies the input in the search bar. This implementation gives you some results as quick as it can, but it can be complicated in some contexts because multiple search requests can be running at the same time, and treating the responses can lead to a slow

[2020-10-15 15:40] bidoubiwa commented on #630
I like your idea. We use `fetch` because we make it work on both browser and node environments. Where `xhr` only works on browsers. [Fetch also has an option to abort](https://developer.mozilla.org/en-US/docs/Web/API/AbortController/abort).

I'm not sure I understand your solution proposal. What is "..." ?

Do you want to abort before each `search`?
[code]

[2020-10-17 15:34] neupauer commented on #630
I just run into the same issue, so I've prepared a PR ( https://github.com/meilisearch/meilisearch-js/pull/636 ) that allows the user to add another configuration directly to the search request, e.g., `signal`.

So, the request can be aborted like this:

[code]

_Maybe in the future, it would be nice to have a mechanism that automatically aborts the previous search request, or returns something li

[2020-10-17 17:03] neupauer opened #637 "Optional fetch polyfill – Discussion"
I've noticed that the library contains a `fetch` polyfill (which is good), but if the environment already contains a `fetch`, then the provided `cross-fetch` polyfill is unnecessary/redundant. For example, Next.js provides polyfill ( for node and browser by default ), so the production bundle with `meilisearch-js` contains also unnecessary `cross-fetch/polyfill`.

Thus, the solution may be that `m

[2020-10-19 11:09] curquiza commented on #630
I don't bring any solution, but just my experience with InstantSearch + meilisearch-js (via [instant-meilisearch](https://github.com/meilisearch/instant-meilisearch/))

I don't have any issue, InstantSearch handles perfectly the requests order:
- despite the `coc` arrives after `coco`
- despite I force it to use meilisearch-js.

Maybe we can check how InstantSearch handles it.
I don't know if it h

[2020-10-19 13:04] bidoubiwa opened #647 "How should isHealthy behave on errors"
## Problem

`isHealthy` only returns `true` or throws an error.

## How it works

As of today the `isHealthy` method returns true if the request and response are successful. In case any of `request` or `response` fails, the error is thrown and the user has to catch it.

## Suggestion

As of this PR #635
**EDIT**
There are three possible scenarios:
- Request and response are successful: `isHealthy`

[2020-10-19 13:23] curquiza commented on #647
FYI, this MeiliSearch's issue https://github.com/meilisearch/MeiliSearch/issues/940 changes the not-idomatic behavior of `/health` route: it will always returns a `204` if I understand well.
It would the job of the SDK to returns `true` if you get the `204` and `false` if you don't get anything at all.

[2020-10-19 15:28] neupauer commented on #647
Hi @bidoubiwa , in the **Suggestion** description the last 2 points should be the opposite:
1. **IF** the request was successful => `true`
2. **ELSE IF** the request fails with the `maintenance` error code => `false`
3. **ELSE** propagate the error (throw error)

The reason for this solution is:

`1. IF`
if the request was successful the answer should be `true`, no doubt

`2. ELSE IF`
E.g, if we s

[2020-10-19 17:36] emyann commented on #582
Hello @bidoubiwa, sorry for the delayed answer, same for me in holidays last week. I definitely want to take a peek at this issue as I worked on those types. I'll send a PR by the end of the week and let you know if I ever have an impediment working on this issue 🙏

[2020-10-19 20:07] bidoubiwa commented on #647
I changed the description above. Thanks for the clarification, I red the if-else statement too fast.

Concerning your PR. It is unfortunate because in the next release we will be removing `PUT /health` and thus also the `maintenance` errorCode.

Without these two options, is your PR still adding something? I'm sorry if it does not.

[2020-10-20 07:32] neupauer commented on #647
Hi, I'm sorry, I didn't notice that setting server health was deprecated.

I admit that even catching some other `5**` (`500`, `503`, ...) server response may hide some information for the user.

But at least the function signature should be updated from return `Promise<boolean>` to `Promise<true>` to ensure that no one seeks for `false` 😄.

Please feel free to close this PR.

[2020-10-20 07:34] bidoubiwa commented on #647
If you want to create a PR with Promise<true> I will accept it

[2020-10-20 07:34] curquiza commented on #647
@bidoubiwa you wrote there are 3 scenarios in the description

But there are only 2 witht the new and more idiomatic `/health` route:
- the MeiliSearch server is reachable -> it returns a `204`
- the MeiliSearch server is unreachable -> we get an error that is not from MeiliSearch because the servef is unreachable (for example, connexion refused)

[2020-10-20 07:38] bidoubiwa commented on #647
In the pr of @neupauer when MeiliSearch server is unreachable an error is thrown, like it is now. `false` only appeared when we were in `maintenance`. But this is not possible anymore, so we should never expect a `false`.

Unless we decide that the user should not be aware of why the server is not healthy and just return `false`?

[2020-10-20 07:45] #647 closed

[2020-10-20 08:21] bidoubiwa commented on #637
Hey @neupauer, since our objective is to be as simple as possible to use, adding one more step for users on `node` is not really the direction for it. Unless of course it is really needed.

Now about your concern, I have checked in the `umd` bundle and what is added is this:
[code]

Does this not mean that the dependency is required at that moment? I looked inside the bundle and the `cross-fetch/p

[2020-10-20 09:22] neupauer commented on #637
Yes, I know that the `cross-fetch/polyfill` is not bundled with the `meilisearch-js` package itself, but it is its dependency.

E.g.:
[code]

If the environment uses others polyfills ( in my case Next.js uses `whatwg-fetch` / `node-fetch`, or the user may wants to use e.g., `isomorphic-fetch`), then the production bundle of that React app will contain also `cross-fetch/polyfill`, because is its de

[2020-10-20 12:14] #623 closed

[2020-10-20 12:34] bidoubiwa commented on #637
Okey, sorry my understanding of bundles is new so my questions are genuine questions haha.

We could absolutely add a bundle without the polyfill for users aware of what they are looking for. I did not realize this was something that could happen.
The idea that we have a default bundle working in every env and another bundle for users that specifically want to tackle this issue seems like a good o

[2020-10-20 22:32] neupauer commented on #637
I'm not very familiar with a Rollup, but something like this `import ms from "meilisearch/bare"` can be achieved by adding `/bare` folder with a single `package.json` file to the root of the package. And `package.json` should point to the desired files.

[code]

---

I took a better look at the `cross-fetch` library and noticed that it just works as a proxy for `node-fetch` and `whatwg-fetch`, whi

[2020-10-21 13:02] #630 closed

[2020-10-23 17:34] kszyrvercobrador opened #652 "Double slash error"
Version: `^0.14.2`

Code:
[code]

Issue:
It will request on this URL
`http://127.0.0.1:7700//indexes`
It appends double slash on the host

[2020-10-26 09:47] bidoubiwa commented on #652
I tried it on meilisearch-js `v.015`, it has no double slash. Could you confirm?

[2020-10-26 14:23] Ionaru opened #661 "TS2304: Cannot find name 'Request'"
**Summary**
When compiling a Typescript file that uses MeiliSearch for Node.js, the error `TS2304: Cannot find name 'Request'` causes the build to fail.
This happens because this library uses the `Request` type from the DOM library, which is not available on Node.js environments.

**Details**
Full log:
[code]

My tsconfig:
[code]

Index.ts:
[code]

**Possible solutions**
- Wait for `cross-fetch` t

[2020-10-26 15:55] bidoubiwa commented on #661
Hey @Ionaru, I tried to reproduce your error. I copy pasted your tsconfig but it built correctly. Nevertheless, I trust you are having this issue. Could you maybe provide a repository where I can reproduce it?

[2020-10-26 19:16] Ionaru commented on #661
Of course, here is a minimal repository that should reproduce the issue: https://github.com/Ionaru/msbug.

Node.js: 14.1.0
npm: 6.14.8

[2020-10-27 10:41] bidoubiwa commented on #661
Hey @Ionaru

**A quick fix** is to add `dom` in your `lib` options inside `tsconfig.json`.

[code]

I would like a better solution to this problem as I think meilisearch-js should ship the `Request` type. What is weird to me is that `cross-fetch` has a type file at its root.
[code]
 I'm not sure why this `/// <reference lib="dom" />` is added.

@emyann do you have an idea of why that problem occur

[2020-10-27 12:52] #622 closed

[2020-10-27 14:33] #582 closed

[2020-10-28 15:04] bidoubiwa opened #665 "Visual studio code does not go to definition when using this package"
In visual studio code when right-clicking on a function you can `go to definition`.

For some reason this is not possible with `meilisearch-js`. I'm not sure why.
Maybe it is related to the fact that it is using an umd module ? What are the best practice in this case?

[2020-10-29 17:39] curquiza opened #671 "Console log errors during the tests"
During the tests (randomly), some errors are displayed but do not involve a test failure. Here is an example:

<img width="930" alt="Capture d’écran 2020-10-29 à 17 33 55" src="https://user-images.githubusercontent.com/20380692/97611131-0d51cf00-1a16-11eb-95c6-2cd604da6bb8.png">

Here is a job where we can see these errors: https://github.com/meilisearch/meilisearch-js/runs/1326928597?check_suit

[2020-11-02 09:44] Ionaru commented on #661
I'm not sure if this should be a separate issue, but I'm running into another problem while trying to use MeiliSearch with a Node.js + Typescript backend.

When I import the module like the documentation says I should:
[code]
I get a compile error:
[code]

But when I import the module like the typing files suggest I should, indicated by `export default MeiliSearch;`:
[code]
The typescript compiler

[2020-11-02 17:49] emyann commented on #661
@bidoubiwa I think your diagnostic is right, the reason why the project is not compiling is because the `dom` lib is not present in the `tsconfig.json`. The fact that `skipLibCheck` is not used, the Typescript compiler won't only check the code used against Meilisearch types but the entire library as well as the transitive dependencies.
`skipLibCheck` is not necessarily bad if you're using several

[2020-11-03 08:51] bidoubiwa commented on #661
Thanks a lot for your clarification @emyann. If I put `skipLibCheck` inside this repo's `tsconfig` it will not impact the `tsconfig `of the user that will use this library?

@Ionaru, could you recreate a repo with this error? It helps me a lot to try out the error and to add them as tests afterwards.

[2020-11-03 11:49] Ionaru commented on #661
@bidoubiwa I've added it here: https://github.com/Ionaru/msbug/tree/import

[2020-11-09 14:45] bidoubiwa opened #684 "Should we remove the yarn.lock file"
[Based on this article](https://gajus.medium.com/stop-using-package-lock-json-or-yarn-lock-909035e94328)

By design yarn.lock and package-lock.json are **not** added to NPM (see [npm shrinkwrap](https://docs.npmjs.com/cli/v6/commands/npm-shrinkwrap))
Thus keeping the yarn.lock file is useful for two reasons:
-  If the project is not meant to be used as a dependency of another project.
- To avoid c

[2020-11-09 15:15] curquiza opened #685 "Should we remove the ".lock" file?"
We are thinking about removing (or not) the file of this package.

Since this discussion concerns all the JS tools of the MeiliSearch organization, we created a centralized issue: https://github.com/meilisearch/integration-guides/issues/53.

If you are interested in this topic, please read it and feel free to share your (professional or not) experience with us on this main issue. Every opinion wou

[2020-11-09 15:16] bidoubiwa opened #686 "Should this package go from default export to named export"
## Named Exports vs Default Exports

Based on the evolution of best practices, named exports are becoming more popular. To understand that popularity and consider a change we made this issue discussing both option: https://github.com/meilisearch/instant-meilisearch/issues/122

We would greatly appreciate any input on the matter. Feel free to join this issue and give your opinion: /meilisearch/inst

[2020-11-16 14:53] bidoubiwa commented on #661
Hey @Ionaru
The problem you have is one of the reasons we want to go for named export.
Default exports as we have today makes it really ugly to use in node js.
[code]
This is commonly known as the `Common js interop with ES modules`.
What happens is that when the default export is transpiled into Common js (node js) the default export is not transpiled like this
[code]
But like this:
[code]

To ma

[2020-11-18 13:12] curquiza commented on #661
Hello everyone, can we close this PR @Ionaru? 🙂

[2020-11-18 13:13] curquiza commented on #652
Closing this issue since no update is provided.

[2020-11-18 14:24] Ionaru commented on #661
Hi @curquiza, no, I don't think it can be closed.

The original issue has not been solved yet: Browser-only types are being used in a package that can exist in a Node.js environment, where those types do not exist.

[2020-11-19 11:12] bidoubiwa commented on #661
Do you have an idead on how to add the types for `Request` to the `umd` build we provide for nodeJs users?

[2020-11-19 12:48] Ionaru commented on #661
I've put possible solutions in the original post.

[2020-11-22 22:01] benhowes opened #694 "React Native compatibility hint"
Hi!

I've just experimented with replacing Algolia with Meilisearch in my react-native application. I had a bit of a problem for a while which turned out to be that I needed a polyfill for `URL` on RN. I added https://www.npmjs.com/package/react-native-url-polyfill to my project which resolved the issue.

Leaving here more for the benefit of future react native developers than anything, however, i

[2020-11-23 13:50] curquiza commented on #694
Hello @benhowes!
Thanks a lot for opening this issue, sure it will help react-native developers! You are our first feedback from react-native 😉
I'm going to update the README with the polyfill as a first step.

Our JS developer is on vacation right now and I will discuss with her to fix or (better) update the README after having her opinion on it, so I let this issue open for the moment! 🙂

Thanks

[2020-12-10 16:10] bidoubiwa commented on #250
I couldn't reproduce it so I guess it is not an issue anymore.

[2020-12-10 16:10] #250 closed

[2020-12-10 16:20] bidoubiwa commented on #280
Since we removed `axios` and we are using `fetch`:

Should we give the possibility to users to define their own timeout when using MeiliSearch? This is the question for another issue as this one is no longer a problem.

[2020-12-10 16:20] #280 closed

[2020-12-10 16:23] bidoubiwa opened #716 "The user should be able to change the requests timeout"
Since we removed `axios` and we are using `fetch`:

![Screenshot 2020-12-10 at 17 31 41](https://user-images.githubusercontent.com/33010418/101800537-a98aed80-3b0d-11eb-9122-32e6e90fff71.png)
![Screenshot 2020-12-10 at 17 31 48](https://user-images.githubusercontent.com/33010418/101800540-aabc1a80-3b0d-11eb-9ab1-562bdec64a92.png)

It lasted for about 2 min when I tried.

Should we give the possibi

[2020-12-21 11:42] curquiza commented on #1
Is this still an issue @tpayet? Shouldn't do implement this once MeiliSearch handles multi-indexes search?

[2020-12-21 11:57] tpayet commented on #1
If we can have multi-indexes search from the front-end, the browser would be able to display results as soon as they are received.
If we wait for MeiliSearch to offer multi-indices search, we would have to wait for all search to be performed and then answered to display the results.
I think it would offer a better search experience if this multi-indices search is implemented on the front-end. It d

[2020-12-21 12:47] curquiza commented on #1
Haha still an interesting issue even if it's not the most asked one 😁

[2020-12-23 17:57] luis-valdez opened #725 "Update README, change client.index for client.getIndex"
Hello guys, I was trying out this js client for meilisearch. And I encountered some problems while following along the `Getting started` section. Particularly this line of code:
[code]
When you try to run this you'll get this error:
[code]
I think this is solved just by replacing `.index` for `.getIndex`.

[2020-12-23 23:35] curquiza commented on #725
Hello @luis-valdez
This is our fault, it's because we made changes but we did not release them.
The README is up to date with `master` but not with the latest version on npm. You can even notice the README on npm mentions the `getIndex` method -> https://www.npmjs.com/package/meilisearch

Meanwhile, please follow this README -> https://github.com/meilisearch/meilisearch-js/tree/v0.16.1
We will do

[2020-12-30 10:45] curquiza commented on #725
I've just come back from vacations, the v0.17.0 is now out and contains all the changes!
Closing this issue then!

[2020-12-30 10:45] #725 closed

[2020-12-31 11:44] schwamic commented on #652
Hi! I'm using `meilisearch-js v0.17` and I have the same problem @kszyrvercobrador described.

I have a local meilisearch-instance running on `http://127.0.0.1:7700`:
[code]

In my frontend-app I added a very basic example:
[code]

### Issue
<img width="922" alt="Screenshot 2020-12-31 at 12 42 35" src="https://user-images.githubusercontent.com/18497277/103409161-baa3a900-4b65-11eb-8adb-846ae46f283

[2020-12-31 12:15] curquiza commented on #652
There is indeed a double slash but I'm not sure this is the error cause. It looks like you have a CORS issue.
MeiliSearch is indeed callable even with a double slash -> this command works in a terminal:
[code]

I re-open it because we need to remove this double slash anyway.
I investigated and the double slash seems to come from here:
https://github.com/meilisearch/meilisearch-js/blob/7cc2b038f39e

[2020-12-31 16:22] schwamic commented on #652
thank you for your help @curquiza! Looking forward to see this being fixed.

Regarding the cors issue: Hasura, for example, allows to set a env var called `HASURA_GRAPHQL_CORS_DOMAIN` for cross-origin requests. Perhaps this would be a helpful addition to meilisearch...

[2021-01-01 20:27] bb commented on #652
@schwamic in your docker-compose config the environment variable is `MEILI_MASTER_KEY`, but in next.js you're accessing `process.env.MEILI_API_KEY` (API instead of MASTER). See also https://github.com/meilisearch/MeiliSearch/issues/1021

[2021-01-01 20:33] bb commented on #652
I also saw the double-slash and identified exactly the lines which Clémentine highlighted above.

I considered changing those lines to the following, using the optional base parameter of the URL constructor:
`const constructURL = new URL(url this.url)`

However, this only works as long as the base url is the root (i.e. its pathname is empty or slash-only). When meili is in a subfolder, e.g. when b

[2021-01-02 10:18] schwamic commented on #652
@bb thank you for your help!

I tried to request GET `/indexes` via my webapp (firefox private window & next.js & meilisearch.js) and Postman. Via Postman everything works as expected. If I use my webapp, I run into the double-slash and cors error, no matter which variant: private key/public key or even without master key. From my point of view, only the double slash is a bug. I think the cors err

[2021-01-02 19:41] schwamic commented on #652
FYI: After fixing the cors problem, all queries to meilisearch worked as expected. Still a double slash, but seems to be working! I will start a discussion in Slack regarding the cors problem. It would be very interesting to see how other developers have solved the problem for their local development.

[2021-01-05 15:24] bidoubiwa commented on #652
So I'v made a PR to fix this problem #731, even though it is not really a bug it was still something that needed to be fixed. Who knows how it might be problematic in the futur. And also for simple cleaningness when a error is raised.

@LegendreM could have (not sure) some information about the CORS problem.

[2021-01-05 16:13] bidoubiwa commented on #652
Alright, so when authentification fails (meaning bad master key), cors fails. So if you get a CORS error, it means that you have a problem with your authentification.

There is an open issue in the meilisearch/meilisearch directory: https://github.com/meilisearch/MeiliSearch/issues/1021

[2021-01-05 16:17] bidoubiwa opened #733 "Cors failing unexpectedly"
When you fail to authenticate properly (bad apiKey for example) instead of having an error message from MeiliSearch you will get a CORS fails.

If you have a failing CORS, I suggest you check if your credentials are correct.

This is an open issue in MeiliSearch: https://github.com/meilisearch/MeiliSearch/issues/1021. The middleware that handles authentification should be reworked in order to fix

[2021-01-06 16:56] fharper opened #734 "Change master branch to main"
Let's be allies and make this change that means a lot.

Here is a [blog post](https://www.hanselman.com/blog/easily-rename-your-git-default-branch-from-master-to-main) that explain a little more why it's important, and how to easily do it. It will be a bit more complicated with automation, but we still should do it!

[2021-01-06 19:55] fharper opened #736 "Add 2021 to license year"
I'll create a GitHub action for next years.

[2021-01-09 19:21] Nick-Mazuk opened #737 "Search response facetsDistribution as object type results in type error"
Currently, when you search with the client, the resulting facetsDistribution is an object.

[code]

This results in the following type error

[code]

From my understanding of the meilisearch-js client, the above is correct usage of the MeiliSearch. This seems like a more accurate type definition for the facetsDistribution, while also removing that type error.

[code]

Here's where the type is defi

[2021-01-11 17:03] bidoubiwa opened #741 "How to refactor search parameters"
There are three types declared in meilisearch-js `types.ts`. How could we refactor that is something less redundant?

Here is the explanation of each type:

## Search Params

SearchParams, which is the type of the parameters you can use when calling the `index.search()` method
[code]

## SearchRequest

Which is used to transport SearchParams into the body that will be send to MeiliSearch API route

[2021-01-13 23:16] Nick-Mazuk opened #744 "Searching uses the incorrect path"
It looks like searching goes to a slightly incorrect URL. For instance:

[code]

Here's the code I used.

[code]

The request does still works, but I believe it's technically an invalid URL.

P.S. Thanks for MeiliSearch, it's awesome!

[2021-01-14 00:05] bidoubiwa commented on #744
Hey @Nick-Mazuk
You’re right! There is a PR that should fix this issue #731. We’re waiting on the hot fix on the meilisearch engine before merging.

thanks a lot for your involvement in this project :)

[2021-01-14 10:39] curquiza commented on #744
Hello @Nick-Mazuk! Thanks for your feedback 🙂
Closed in favor of #652

[2021-01-14 10:39] #744 closed

[2021-01-15 21:47] #737 closed

[2021-01-18 15:51] bidoubiwa commented on #733
Fixed with https://github.com/meilisearch/MeiliSearch/releases/tag/v0.18.1

[2021-01-18 15:51] #733 closed

[2021-01-18 19:53] curquiza commented on #736
Closed by #753

[2021-01-18 19:53] #736 closed

[2021-01-20 13:20] bidoubiwa opened #757 "Create better watching mode between meilisearch-js and examples"
As of now to edit meilisearch-js while trying out some examples you have to rebuild meilisearch-js.

We should add a watching mode that watch an example and changes on meilisearch-js

[2021-01-20 13:22] bidoubiwa opened #758 "Add server in examples to showcase examples"
As of now application in the `/examples` and `/test/env` folder have no attached server. Meaning that after build you have to use a third party tool like `http-server` to run the html file.

We should add `express` server that can be launched through package.json and that serves the html page.

[2021-01-20 13:25] bidoubiwa opened #759 "Change jest-puppeteer library to jest and puppeteer separately"
Jest-puppeteer is looking for [maintainers](https://github.com/smooth-code/jest-puppeteer) and is not perfect in our use case.

For example, we cannot retrieve console errors when testing our browser build. In case of error we get back a timeout. Which makes us confuse on the origin of the bug. Is the bug caused by us or by the some jest-puppeteer configuration?

This has let to make us lose time

[2021-01-20 13:50] curquiza opened #760 "Changes after the Node.js v10 EOL (2021-04-30)"
We need to:
- [ ] Remove the tests with node.js v10 in the CIs
- [ ] Remove the change introduced by this PR https://github.com/meilisearch/meilisearch-js/pull/755/files

[2021-01-25 13:57] #686 closed

[2021-02-01 13:13] bidoubiwa opened #780 "Improve _formatted and _matchesInfo type inside Hit type."
`Hit` is the content of one the multiple hits returned by `index.search()` (see [documentation](https://docs.meilisearch.com/references/search.html#response-2) .

[code]

The response of this method is of type `SearchResponse`
[code]

In which you have the `Hits` type:
[code]

This type determines what will be present inside a single `Hit<T>` based on what the user provided in the search parameter

[2021-02-01 14:20] bidoubiwa opened #782 "Waiting on jest v27 to fix automatic typescript types updates"
When using `yarn test:watch` types are not updated and tests have to be relaunched.

Patiently waiting on jest v27 to resolve this problem. Update to v27 should be done as soon as it is released.

[2021-02-02 14:45] bidoubiwa commented on #760
Remove following lib:
- `jest-environment-jsdom` (`yarn remove jest-environment-jsdom`)

Edit the following file:

[code]
with the following
[code]

[2021-02-02 19:22] Bradleykingz opened #783 "Every request fails with the message "Invalid URL""
For some reason, every request I make fails with the same error message.

When I try:

[code]
It fails with the following error

[code]

If I try:

[code]
It fails with the basically the same error:

[code]

My `package,json` has ` "meilisearch": "^0.18.0"` and I'm running Meilisearch version `0.18.1`.

However, I get the above errors regardless of whether MS is running or not :shrug: Any clues?

[2021-02-02 19:41] Bradleykingz commented on #783
I fixed the error by using `http://localhost` rather than just `localhost`. Maybe have a better error message?

[2021-02-02 20:49] Bradleykingz commented on #783
I do have another question, though.

Using `0.0.0.0` to connect from inside docker throws the below error

[code]
But using `http://0.0.0.0` doesn't seem to work either

[code]
Any clue?

[2021-02-02 21:33] Bradleykingz commented on #783
I figured it out eventually - I used the name of the container instead of `0.0.0.0`.

[2021-02-02 21:33] #783 closed

[2021-02-02 22:20] datge opened #784 "From container support"
I Have my express application in a container and meilisearch in another,so i can not access it through

[code]
what i am supposed to do is:

[code]

where meilisearch is the name of the container defined inside my docker-compose.yml, but i get
"message": "Invalid URL: meilisearch".

[2021-02-04 09:18] bidoubiwa commented on #784
Hello! You are right, the issue was raised that we should handle a relative path like yours. Unless you find a solution before that I will work on it when I have some time :)

[2021-02-04 09:20] bidoubiwa commented on #783
somewhat related: #784

[2021-02-09 20:19] Yagorundy opened #790 "Cannot get keys (client.getKeys()) (version 0.18.0)"
When calling `.getKeys()`, this error is displayed.

![image](https://user-images.githubusercontent.com/37158158/107423017-820fcb80-6b24-11eb-81de-1df51aa5f8bb.png)

It looks like it sends the request to `http://localhost:7700/undefined` when `.getKeys()` is called
![image](https://user-images.githubusercontent.com/37158158/107423194-bb483b80-6b24-11eb-84b2-c88ac933e57b.png)

[2021-02-10 09:24] bidoubiwa commented on #790
Hello @Yagorundy thanks a lot for pointing this out. I made a quick fix #791. Fix will be released today :)

[2021-02-10 13:06] curquiza commented on #790
Closed by #791! Thanks @Yagorundy for this bug report, and @bidoubiwa for the fix!

[2021-02-10 13:06] #790 closed

[2021-02-11 14:41] #734 closed

[2021-02-11 19:56] bidoubiwa opened #797 "Change name of listIndexes to getIndexes"
When we first named the method to get an Index instance `getIndex` it seemed counter-intuitive to call the routes that fetches all indexes `getIndexes`. To not be confused as what `getIndexes` might do we named it `listIndexes`.

Which is even more counter-intuitive. I used this method 200 times and still forgets how it is called.

Since we changed  `client.getIndex(x)` to `client.index(x)` there

[2021-02-12 11:58] curquiza commented on #797
To complete what @bidoubiwa says, `getIndex` is still present but does an HTTP call 🙂
So this is indeed more consistent to name the method that does an HTTP call to get multiples indexes to be named `getIndexes`.

[2021-02-22 09:31] Flucadetena commented on #410
I case someone is having this problem and already has "esModuleInterop" in their "tsconfig.json". My solutions was to change the import thar inits meili from ``` import MeiliSearch from "meilisearch";``` to this ```import { MeiliSearch } from "meilisearch";```

My problem occurred after updating using firebase functions with node 12. Hope it helps. ;)

[2021-02-22 10:14] bidoubiwa commented on #410
Hey @Flucadetena. We made a breaking change in the 0.18.1 where
`import { MeiliSearch } from "meilisearch` is now the way to import meilisearch. Thanks a lot for answering this issue as it might help users come by here.
Here is the complete change log: https://github.com/meilisearch/meilisearch-js/releases/tag/v0.18.0

[2021-03-18 13:04] mdubus opened #834 "Client should list all the methods available"
By logging my client, I only see the `config` and `httpRequest`.
This is really confusing as we might think that there are no methods available :

![Capture d’écran 2021-03-18 à 13 59 42](https://user-images.githubusercontent.com/30866152/111630429-a5e4c200-87f2-11eb-9563-e151a375b6e8.png)

If possible, it would be nice to have an exhaustive object with all the methods available inside

[2021-03-18 14:52] curquiza commented on #834
This is not the object you expect, but meanwhile
- we have this list in the README: https://github.com/meilisearch/meilisearch-js#-api-resources. Should be exhaustive.
- In the [API References](https://docs.meilisearch.com/reference/api/) each route has the JS version in the tab. Example: https://docs.meilisearch.com/reference/api/indexes.html#example
- we plan to improve the SDK docs (integrate t

[2021-03-20 14:06] bidoubiwa commented on #834
Hey @mdubus, after some digging the problem comes from here:

## Class behavior on log

[code]

**output**
[code]

## Function behavior on log

[code]

**output**
[code]

I'm trying to find out why, I would think per intuition that it is linked to private and public functions as we might not want the user to know them?

In either case, we will have to change our classes to functions if we want you

[2021-03-20 16:56] bidoubiwa opened #835 "Should we change to a Factory Function to create a MeiliSearch client"
## Creating Objects in Javascript

There are three ways of creating an object in javascript (see [example](https://gist.githubusercontent.com/ericelliott/ad2c5dc46fca6bf1b18a422818a998eb/raw/f4f00a3274f7762622570fe6fb2e653cc0f69616/class-constructor-factory-examples.js))
- Constructor Function
[code]
- Factory Function
[code]

- Class (added after ES6*)
[code]

## Construction Function

Before ES6

[2021-04-14 19:17] bidoubiwa commented on #758
Resolved and outdated!

[2021-04-14 19:17] #758 closed

[2021-04-14 19:19] bidoubiwa commented on #661
As we changed to a named export, this problem should not occur anymore #756

[2021-04-14 19:20] bidoubiwa commented on #652
Fixed by #731

[2021-04-14 19:20] #652 closed

[2021-04-14 19:22] bidoubiwa commented on #637
Resolved by this sentence:

Thanks again @neupauer

[2021-04-14 19:22] #637 closed

[2021-04-28 12:51] uguranium opened #886 "Meilisearch in Frontend"
From readme file, i see that we can use

[code]

this code and send request to meilisearch server directly. Is it not dangerous? User can see master key and delete or generate new indexes. Am i wrong?

Thank you.

[2021-04-29 07:31] curquiza commented on #886
Hello @uguranium!
This example uses `masterKey` as value for the `apiKey`. However, you're completely right, you should not put your master key in front end. Front end is for searching so you should put your public key.
See:
- https://docs.meilisearch.com/reference/features/authentication.html
- https://docs.meilisearch.com/reference/api/keys.html

[2021-05-04 09:46] curquiza commented on #685
Closed by https://github.com/meilisearch/integration-guides/issues/53

[2021-05-04 09:46] #685 closed

[2021-05-04 15:31] bidoubiwa opened #889 "Define type architecture"
For the moment the typing is done quite in a mess in this repo. Types are often duplicated and should not be.

I try to find a good practice solution on how to handle the types.

## Examples

- https://github.com/algolia/algoliasearch-client-javascript does not duplicated types but it is not clear when they type or not in a given file

- WIP inc..

[2021-05-06 12:54] curquiza opened #891 "Tests should be independent"
Currently, the (back end) tests in our test suite are not independent: they should be applied in a cleaned environment. Before running each test, all the indexes should be deleted and a new index should be created, filled with documents or not, depending on the context of the test.

In the python and dotnet SDKs we use fixtures to achieve this goal = avoid adding the same lines (create index + add

[2021-05-26 21:07] sanders41 commented on #889
When you say types are duplicated are you referring to fields being repeated in interfaces, or do you mean types are redefined in different places, or maybe something else? Just trying to understand the issue better to see if I can help.

[2021-05-27 08:48] bidoubiwa commented on #889
Same information are duplicated for example in

`types.ts`

[code]

and in

`./index.ts`

[code]

I'm not sure I followed the best typescript practice and I think some form of architecture refacto is due :/

[2021-05-27 12:17] sanders41 commented on #889
Got it. I'll look and see if I have any ideas.

[2021-05-27 14:07] sanders41 commented on #889
What you have done here matches the [typescript documentation](https://www.typescriptlang.org/docs/handbook/2/classes.html). The documentation is actually not very clear to me so I searched around for some other examples and all the examples I found match how you have done it.

One thing I did notice is you could use inheritance to cut down on the duplication in your interfaces. Something like

[c

[2021-05-31 13:18] bidoubiwa commented on #889
That's a great suggestion to minimize duplication! It would be a nice addition :) I can do it if you'r not into it

[2021-05-31 13:19] bidoubiwa commented on #886
Hello @uguranium! Is this issue resolved for you?

[2021-06-01 12:15] curquiza opened #912 "Add tests in browser with Cypress"
Cypress is a library to run tests in a browser.

To ensure this package work, we would like to add tests with Cypress.

Follow this guide to implement it: https://github.com/meilisearch/integration-guides/blob/main/guides/cypress.md

Feel free to ask any question about this issue implementation 🙂

[2021-06-04 12:55] bidoubiwa opened #913 "Confirm compatibility with node 16"
**Description**
Node 16 is now the latest version of node.  It is not the `active` version yet so we should not proactively confirm compatibility with node 16. Nonetheless, the 26 October 2021 node 16 will become the active version and this is a reminder for that we have to guarantee compatibility.

[See node releases status](https://nodejs.org/en/about/releases/)

Tests should be made against nod

[2021-06-04 22:03] robertt commented on #661
Hey all - I'm still getting this, version 0.18.2, typescript version 4.2.4.

[code]

[2021-06-07 15:23] bidoubiwa commented on #661
Hello @robertt

Thanks for pointing out this problem! Could you show me your tsconfig ? So I can reproduce it

[2021-06-07 15:27] robertt commented on #661
Hey @bidoubiwa - I figured out. It was because of a weird regression in how yarn resolves dependences in monorepos, resulting in this error. After I fixed the resolution issue, it worked perfectly. I meant to come back remove/edit my comment - so sorry! This can be closed.

On a side note, meilisearch has been a blessing - so easy to deploy & use. Great job!

[2021-06-07 16:18] #760 closed

[2021-06-07 16:19] bidoubiwa commented on #661
Thanks a lot @robertt it means a lot :)

[2021-06-07 16:19] #661 closed

[2021-06-07 18:19] piggeh opened #916 "getStats doesn't include the pathname"
**Description**
When specifying a host with a path, the path is ignored when using the `index.getStats` method. In this case, nginx is proxying a sub-directory and while this might not be documented or supported, it does work in all other cases.

[code]

**Expected behavior**
The `getStats` method to have the same behaviour as other methods.

**Current behavior**
The path is ignored when using `in

[2021-06-13 01:52] sanders41 commented on #916
`getStats` generates its url differently that all the other methods in the `Index`.

[code]

Making it the equivalent to the other methods would look like:

[code]

The url generated with the `routeConstructors` results in `indexes/movies/stats` as opposed to the current `/indexes/movies/stats`

Maybe this is the cause of the problem?

[2021-06-13 11:03] bidoubiwa opened #920 "Stats and Version method name should start with `get`"
As for now to get stats of your client, you need to use the `stats()` method.

[code]

This is not intuitive and not consistent with the naming of other functions

[2021-06-13 11:46] bidoubiwa opened #921 "Change create static method parameters order for consistency"
As for now the static method `create` on the Index class has the following prototype:

[code]

But every other method that uses index methods without the index instance has the `uid` as first parameters and options as second parameter:

[code]

Because of that, for consistency we should change the parameter order of the Static create method:

[code]

[2021-06-14 08:53] #916 closed

[2021-06-14 17:25] #891 closed

[2021-06-29 14:34] bidoubiwa opened #930 "MeiliSearchApiError is used instead of MeiliSearchCommunication error on wrong host"
When a wrong host is provided the return is a `MeiliSearchApiError` instead of `MeiliSearchCommunicationError`

[code]

It should be `MeiliSearchCommunicationError`

[2021-06-29 15:49] bidoubiwa opened #931 "Add information in MeiliSearchApiError when http error is raised"
When for example a route to the API is wrong, instead of giving details about the wrong API it only returns:

[code]

It should provide the following information:
- URL
- HTTP status

[2021-07-27 17:19] bidoubiwa opened #970 "Returning 0 in facetsDistribution (MeiliSearch 0.21 and later)"
# New facetsDistribution Behavior in v0.21

In v0.21 facetsDistribution will stop returning facets that contains `0` documents (see meilisearch/transplant/issues/234).
Contrary to v0.20

example:
v0.20
[code]

v0.21

[code]

## Problem

Because some uses cases depend on having the 0 returned, it might be breaking.

Example:
search params:
[code]

might return
[code]

Since `comedy: 0` is not prese

[2021-08-16 15:33] mehmetron opened #983 "I get this error when following the React guide in the docs: Unhandled Rejection (TypeError): index.search is not a function"
`Unhandled Rejection (TypeError): index.search is not a function
`

Here is a codesandbox with my exact code not including the host and apiKey
https://codesandbox.io/s/little-resonance-vdvem?file=/src/App.js

How do I solve this error?

[2021-08-18 15:45] mehmetron commented on #983
It works now for some reason. Interesting.

Amazing product by the way. I love Meilisearch and wish you guys lots of success!!

[2021-08-18 17:01] curquiza commented on #983
Sorry for the delay! A lot of Meili people are on holiday!
Glad you found out the problem! 😁

[2021-08-19 05:07] mehmetron commented on #983
Hey @curquiza

I was actually mistaken. I guess I lost track of all my changes in my project.

The reason why the error disappeared was because I installed meilisearch@0.14.2 (the version used in the React guide) instead of the latest version.

[2021-08-19 08:26] curquiza commented on #983
Ok! Do you mean this react guide? https://github.com/riccardogiorato/meili_react_demo/blob/master/package.json

[2021-08-19 10:13] mehmetron commented on #983
Yup, it seems like that's the one

I followed it from this link:
https://docs.meilisearch.com/create/how_to/meilisearch_react.html

[2021-08-19 11:54] curquiza commented on #983
Hum, the problem is this article is a little bit old. I will open an issue in the docs. Thanks for your feedback

[2021-08-19 12:01] curquiza commented on #983
https://github.com/meilisearch/documentation/issues/1068 is open!

Closing this one then :)

[2021-08-19 12:01] #983 closed

[2021-08-25 16:01] JamieDixon opened #987 "Public Key yields Invalid API Key when using getIndex"
**Description**
When calling `search` from the browser, the public key does not permit searches and instead yields a "Invalid API Key" message.

**Expected behavior**
Public key should permit searches as per the documentation.

**Current behavior**
"Invalid API Key" error is returned when using public key and calling `.search()`

**Environment (please complete the following information):**
- OS: B

[2021-08-25 16:59] bidoubiwa commented on #987
Hey Jamie!
I tried both in a node environment and in a browser environment and it seems to be working for me :/

I added the public key in the playground inside the repo: https://github.com/meilisearch/meilisearch-js/pull/988

You'll have to run a meilisearch instance with `masterKey` as apiKey to try it out.

[2021-08-26 11:30] #987 closed, assigned to nobody

[2021-09-28 11:43] bidoubiwa commented on #886
Due to a lack of answer, i close the issue. Feel free to re-open it if needed.

[2021-09-28 11:43] #886 closed

[2021-09-28 11:51] bidoubiwa commented on #834
Until we go for a factory function this is not possible. Because factory function is not planned as a refactor I close this issue

[2021-09-28 11:51] #834 closed

[2021-09-28 11:52] bidoubiwa commented on #782
This is resolved!

[2021-09-28 11:52] #782 closed

[2021-09-28 11:57] bidoubiwa commented on #780
As types have been simplified in #1007 this PR is not useful anymore

[2021-09-28 11:57] #780 closed

[2021-09-28 11:58] bidoubiwa commented on #759
Pupeteer has completely been removed from the project

[2021-09-28 11:58] #759 closed

[2021-09-28 11:59] bidoubiwa commented on #325
Using [this vscode extension](https://github.com/Microsoft/vscode-comment) that generated jsdoc comments it becomes easy to do.

[2021-09-28 12:00] bidoubiwa commented on #522
fixed!

[2021-09-28 12:00] #522 closed

[2021-09-28 12:01] bidoubiwa commented on #671
Fixed!

[2021-09-28 12:01] #671 closed

[2021-10-01 08:29] gagandeepp commented on #931
@curquiza @bidoubiwa interested please assign

[2021-10-01 08:35] bidoubiwa opened #1018 "Add links to api reference to the doc on readme methods"
On the readme all methods are described. Nonetheless they don't tell a lot about what the method does.

A solution to that would be to add a link to the api references of the official docs at the bottom of the readme.

Before:

- Make a search request:

After

- [Make a search request](https://docs.meilisearch.com/reference/api/search.html#search)

[2021-10-01 09:08] #920 closed

[2021-10-01 12:06] sshiv5768 commented on #930
Hey, @curquiza I would love to work on this issue.

[2021-10-01 12:06] sshiv5768 commented on #912
Hey, @bidoubiwa I love to work on this issue.

[2021-10-01 12:16] daniloff200 commented on #1018
I can pick this one, if it's still not assigned to anybody

[2021-10-01 18:43] bidoubiwa commented on #1018
Thanks so much for giving interest in this project! 🔥🔥I made you assignee! We only guarantee it for 5 days in case other contributors are willing to contribute.

[2021-10-02 09:16] bhaveshgoyal182 commented on #797
Hey, I would like to work on this. Please assign this to me.

[2021-10-02 09:52] bidoubiwa commented on #797
Hey @drph4nt0m I assigned you to the PR :) We can only guarantee the assignment for 5 days. After which if someone else wants to give it a try we will change the assignation. Good luck with the PR!

[2021-10-02 09:53] bidoubiwa commented on #931
Hey @gagandeepp I assigned you to the PR :)  Thanks for giving interest in this project 🔥

We can only guarantee the assignment for 5 days. After which if someone else wants to give it a try we will change the assignation. Good luck with the PR!

[2021-10-02 10:01] bidoubiwa commented on #930
Hey @sshiv5768  I checked and this is actually resolved by #1015
Sorry for this :s

[2021-10-02 10:01] #930 closed

[2021-10-02 10:05] bidoubiwa commented on #921
fixed by: #1017

[2021-10-02 10:05] #921 closed

[2021-10-02 10:10] gagandeepp commented on #931
@bidoubiwa how to reproduce the problem??

[2021-10-02 10:10] bidoubiwa commented on #912
I assigned you @sshiv5768 ! I can only guarantee it for 5 days.

About this PR, the objective would be to create multiple environments where we run meilisearch-js.

- react
- vue
- javascript
- HTML (in <script> tag)
- angular

To ensure that we are compatible with all their requirements. To do so you can take inspiration from the [cypress tests](https://github.com/meilisearch/instant-meilisearch/

[2021-10-02 10:18] bidoubiwa commented on #931
For example, if you change the route in a method to an unknown one like this:

[code]

and then in a test file you call

[code]

you will get the following error:
[code]

Whereas we would prefer:

[code]

So path and status should be added to the error message

[2021-10-03 05:51] AsianCat54x commented on #716
I would like to work on this issue.

[2021-10-04 08:01] bidoubiwa commented on #716
Hey @AsianCat54x I assigned you to the PR :) Thanks for your interest in improving this project. We can only guarantee the assignment for 5 days. After which if someone else wants to give it a try we will change the assignation. Good luck with the PR!

[2021-10-04 08:01] #797 closed

[2021-10-04 08:17] sushrut111 commented on #784
This looks like an interesting bug, may I work on it?

[2021-10-04 08:21] gagandeepp commented on #931
Above steps are throwing correct error

[2021-10-04 08:26] bidoubiwa commented on #784
Absolutely! @sushrut111 I assign you to it. Good luck 🔥

[2021-10-04 08:35] bidoubiwa commented on #716
We should be able to provide the timeout when creating the client. A bit like the [ruby client](https://github.com/meilisearch/meilisearch-ruby/wiki/Client-Options).

Then, pass the information to the request class. Where you can add the timeout to the fetch options if provided or use the default one if it is not.

If you need more information do not hesitate

[2021-10-04 08:36] gagandeepp commented on #931
While running test I am getting this error

MeiliSearchCommunicationError: request to http://127.0.0.1:7700/indexes failed, reason: connect ECONNREFUSED 127.0.0.1:7700

[2021-10-04 08:39] bidoubiwa commented on #931
Are you running a MeiliSearch instance?

[2021-10-04 08:40] gagandeepp commented on #931
nope how to do that

[2021-10-04 08:45] AsianCat54x commented on #716
Oh I see! Thanks, I would start right away.

[2021-10-04 08:50] bidoubiwa commented on #716
When creating a new client lets say

[code]

You provide an object that is considered the config object

[code]

As you can see the config object is passed to httpRequests, in which you can use it to play with the timeout

[2021-10-04 08:51] AsianCat54x commented on #716
Yeah. I just saw in that ruby one! Thanks!

[2021-10-04 08:52] bidoubiwa commented on #716
Good luck!

[2021-10-04 09:08] AsianCat54x commented on #716
Alright, So all I need to do is take input of the timeout when the user initiate the MeiliSearch class, and in HTTPRequest, add the timeout to the fetch.

[2021-10-04 09:59] sushrut111 commented on #784
@bidoubiwa Can you look at the PR #1027 ?

[2021-10-04 11:39] sushrut111 commented on #784
[code]

[2021-10-04 11:54] sushrut111 commented on #757
When I worked on another issue, I could very well work with
[code]

Is this issue something else? If yes, could you elaborate? I would love to work on it.

[2021-10-04 13:09] bidoubiwa opened #1029 "Replace npmignore with files field in package.json"
To avoid forgetting to add new files or new directories in `.npmignore` it is best practice to instead all needed files in a `files` field inside the package.json.

See [files documentation](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#files)

Example can be [found here](https://github.com/meilisearch/gatsby-plugin-meilisearch/blob/b47111ae46cfa2f1e06cf4910e9a72f45e5fc10d/package.jso

[2021-10-04 14:30] anandamideShakyan commented on #1029
Hi @bidoubiwa I would like to work on this issue.
Thank you

[2021-10-04 15:17] bidoubiwa commented on #931
I changed [this comment](https://github.com/meilisearch/meilisearch-js/issues/931#issuecomment-932727772)

with the following;

you will get the following error:

[code]

Whereas we would prefer:
[code]

This means that `404` errors should be redirected to `MeiliSearchApiError` and not `MeiliSearchCommunicationError`

[2021-10-04 15:50] shikhar13012001 commented on #1029
hi, Can I work on this issue?

[2021-10-04 18:43] ShahrozAhmd commented on #1029
Hi, I find myself a best fit for the task , kindly assign it to me

[2021-10-05 10:40] #784 closed

[2021-10-05 12:07] AsianCat54x commented on #716
Sorry for a delay in solving this issue.

I have done this much so far:

- I have added a new property to the Config type

- Added an timeout to the fetch (I saw this stackoverflow question: https://stackoverflow.com/a/50101022/16789038)

(I think this is the right place to add the timeout to the fetch:

[code]

[2021-10-05 12:08] InfiniteVerma commented on #325
I'd like to work on this.

[2021-10-05 13:46] bidoubiwa commented on #325
I'm assigning you @InfiniteVerma. Good luck!

We can only guarantee the assignment for 5 days. After which if someone else wants to give it a try we will change the assignation. Good luck with the PR!

[2021-10-05 13:58] bidoubiwa commented on #716
Hey @AsianCat54x
You are being very meticulous ❤️   Don't worry we love helping out new contributors. It is a hard step to create your first contribution and your first PR and we all had to go through it.

So, I would suggest you open a PR with your code suggestion. To create your PR our [contributing](https://github.com/meilisearch/meilisearch-js/blob/main/CONTRIBUTING.md#how-to-contribute) shows

[2021-10-05 14:06] bidoubiwa commented on #757
A good example is in `/playground/javascript` where there is a watch mode on a browser environment. It would be great if we also have a `node-typescript` playground that would watch changes on meilisearch-js source code

[2021-10-05 14:09] bidoubiwa commented on #1029
@anandamideShakyan I have assigned you to the issue.

We can only guarantee the assignment for 5 days. After which if someone else wants to give it a try we will change the assignation. Good luck with the PR!

[2021-10-05 16:03] AsianCat54x commented on #716
Oh I see! Alright Im gonna create a pull request then ;)

[2021-10-06 10:50] bidoubiwa commented on #931
I'm changing the assignation of this issue to me as this issue requires more reflexion on how to implement it.

[2021-10-06 10:51] bidoubiwa commented on #1029
I'm removing assignation from this issue. As it is a simple problem the first PR that opens and fixes the issue correctly following the [contributing guidelines](https://github.com/meilisearch/meilisearch-js/blob/main/CONTRIBUTING.md) will be merged!

[2021-10-06 10:55] bidoubiwa commented on #325
I'm removing assignation from this issue. As it is a simple problem the first PR that opens and fixes the issue correctly following the [contributing guidelines](https://github.com/meilisearch/meilisearch-js/blob/main/CONTRIBUTING.md) will be merged!

[2021-10-06 13:17] curquiza opened #1034 "Change `books` to `movies` in README.md"
To keep the getting started simple to try, but to also make [documentation](https://docs.meilisearch.com) examples compatible with the getting started, we are replacing `book` examples with `movies` examples.

The Movie dataset is used throughout the documentation. The only place where book is used is in the tests (which can stay as it is) and in our getting started.

### Changes

- [ ] Index name

[2021-10-06 13:22] curquiza commented on #1034
Already implemented, my bad

[2021-10-06 13:22] #1034 closed

[2021-10-06 13:38] curquiza opened #1035 "Method to get all the indexes should return a list of instance"
Currently, the `get_all_indexes` method returns a raw list of object, but not a list of `Index` instance. This is the only index-related method that does not return an `Index` instance.

An instance is more convenient to manipulate than a raw object. See this [example](https://github.com/meilisearch/meilisearch-python/issues/258#issuecomment-835866135).

TODO

- [x] Change the return of the curren

[2021-10-06 14:05] curquiza opened #1036 "Add methods to automatically add/update documents in batches"
We need methods to add and update the documents of MeiliSearch in batch instead of letting the users call `addDocuments` in a loop.

- [ ] Add `addDocumentsInBatches`
[code]
`batchSize` and `primaryKey` are optional parameters

- [ ] Add `updateDocumentsInBatches`
[code]
`batchSize` and `primaryKey` are optional parameters

- [ ] Add tests

Example: https://github.com/meilisearch/meilisearch-pytho

[2021-10-08 08:51] vishnugt commented on #1036
There are already methods present to index multiple documents in a single call, but the batch option is missing.
Can I take this up?

[2021-10-09 08:55] K-Kumar-01 commented on #1035
@curquiza
I would like to work on this issue.
Please assign this to me.

[2021-10-09 12:39] bidoubiwa commented on #1035
We don't want to assign people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guidelines](https://github.com/meilisearch/meilisearch-js/blob/main/CONTRIBUTING.md).

[2021-10-09 14:45] K-Kumar-01 commented on #1035
@bidoubiwa
No problem.
I will start working on it and try to open a valid PR ASAP.

[2021-10-09 22:39] vishnugt commented on #1036
Fair enough, I have created a draft PR https://github.com/meilisearch/meilisearch-js/pull/1039, just need to add a testcase for update case, will do it tomorrow, facing some weird issue right now

[2021-10-10 04:54] Bhavin789 commented on #321
Hello @bidoubiwa, this is a very interesting area to discover 😃. Though I haven't tried this before but looking at your solution, it seems like we are testing for a single file but a package can consist of multiple if I am not wrong.

So, do we want to test out every file in the package and what do we want to test out exactly? Would be happy to help if I can after understanding the issue more. Tha

[2021-10-10 18:16] curquiza opened #1040 "Add `updatedAt` and `createdAt` to `Index`"
When manipulating indexes (get/create/update), the MeiliSearch server returns the following information related to the index:
- `uid`: the uid of the index
- `primaryKey`: the primary key of the index
- `updateAt`: when the index has been updated
- `createdAt`: when the index has been created

This SDK, when manipulating indexes (get/create/update) returns an instance of `Index` which already cont

[2021-10-10 18:41] curquiza opened #1041 "Add method to get the raw index information"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already partially/completely implemented, feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisear

[2021-10-10 22:22] mikkeschiren opened #1042 "Hits as arrays of array instead of array of objects?"
Just wondering, is there a way to get hits as an array of arrays instead of objects?

[2021-10-11 09:16] bidoubiwa opened #1046 "Make tests consistenly use await and not `.then`"
As `.then` is redundant when using `.then` we should only stick to one and that one will be `await`.

Almost all tests in this repository are written as follows using the `.then` syntax:

[code]

They should all be replaced with the following `await`  syntax:

[code]

 ⚠️ No `try/catch` should be added unless it is used in a test where a `.catch` or a `try/catch` was already present.

[2021-10-11 09:29] bidoubiwa commented on #1046
Hey @K-Kumar-01 thanks so much for getting back and suggest new contributions 🔥🔥

We prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guidelin

[2021-10-11 09:45] bidoubiwa opened #1047 "Update module import and export to remove DEP0148 depreciation warning"
When building the repo in node version 16 the following warning occurs:

[code]

The warning raises the Depreciation warning with the id [DEP0148](https://nodejs.org/api/deprecations.html#DEP0148).

[Sub-patterns](https://nodejs.org/api/packages.html#packages_subpath_patterns) should be used instead.

related #913

[2021-10-11 09:46] bidoubiwa commented on #1042
Could you show an example of what you'd like and what you receive instead?

[2021-10-11 10:02] bidoubiwa commented on #321
The idea is to `yarn build` and then try out both esm and umd builds for example in one of the `tests/env/...` environments.

To ensure the packages that will be sent to npm works correctly!

[2021-10-11 10:46] #1018 closed

[2021-10-11 11:26] Anubha13kumari commented on #1046
Hello @bidoubiwa ,I am working on this.

[2021-10-11 12:10] Rishabhraghwendra18 commented on #1047
Hi @bidoubiwa . I am not able to find the folder `package.json` folder in which this issue is arising . I think it's arising in the `tslib/package.json` file . May you guide me in which file I have to make changes ?

[2021-10-11 16:06] K-Kumar-01 opened #1049 "Remove unused import FetchError"
**Description**
Description of what the bug is about.
Currently, in `meilisearch-js/src/lib/indexes.ts` , we import`FetchError` but the actual usage of this import is not done anywhere.
It is used only in 1 place (L 228 at the time of writing) as `any|FetchError` which does not hold any meaning.

This import can be removed without causing any harm to the codebase.

[2021-10-11 19:14] artfuldev commented on #1041
I just want to add here that I'm working on this so that other people don't waste their time on this, or my time :) At the very least, if someone else also wants to pick up this issue, please add a comment here. I also hope to post updates every so often so this doesn't go stale.

[2021-10-12 09:46] #1049 closed, assigned to nobody

[2021-10-12 10:47] #1036 closed, assigned to nobody

[2021-10-12 11:20] #1041 closed

[2021-10-12 13:51] 0xrang3 commented on #1040
Hi there!

I would like to work on this issue :)

Regards

[2021-10-13 08:31] bidoubiwa commented on #1040
Hey @0xrang3 ! Thanks so much for giving interest in this repo 🔥

We prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guidelines](https://gith

[2021-10-13 18:52] bidoubiwa commented on #1047
Hello @Rishabhraghwendra18, I looked at the problem and it seems to come from `tslib` like you said. We cannot directly change its package.json. We need to wait for them to update theirs.  A [pr](https://github.com/microsoft/tslib/pull/135) is already open in their repository to fix the problem. I'm sorry this means there is indeed nothing to fix in this repo. I'm closing the issue

[2021-10-13 18:52] #1047 closed

[2021-10-14 14:34] #1046 closed

[2021-10-19 13:28] curquiza opened #1061 "NDJSON/CSV methods to add and update documents"
⚠️ This issue is generated, it means the nameing might be done differently in this package (ex: `add_documents_json` instead of `addDocumentsJson`). Keep the already existing way of naming in this package to stay idiomatic with the language and this repository.

📣 We strongly recommend doing multiple PRs to solve all the points of this issue

[MeiliSearch v0.23.0](https://github.com/meilisearch/Me

[2021-10-20 16:27] curquiza opened #1063 "Update .code-samples.meilisearch.yaml"
Following https://github.com/meilisearch/documentation/pull/1214, we would like to apply some changes in the `.code-samples.meilisearch.yaml` file at the root of the repository

- Regarding `get_distinct_attribute_1`, `update_distinct_attribute_1` and `reset_distinct_attribute_1`: if present, the index name should be `shoes`
- Regarding `update_distinct_attribute_1`: the distinct attribute passed

[2021-10-21 10:05] #1063 closed

[2021-10-31 18:23] alexisvisco opened #1076 "Error catch of type unknown throw error with tsc"
Hi,

Just a little advice, while compiling in typescript  4.4.4, there is some errors :

[code]

My tsconfig (which has been specially modified to pass Request requirements (you can see the 'DOM' lib ) ... :-1: )
[code]

Using `useUnknownInCatchVariables` will allow you to compile, however, it should be in the meilisearch tsconfig not in mine.

How you are considering adding this property.

[2021-11-02 10:04] bidoubiwa commented on #1076
Hey @alexisvisco
I tried to reproduce the example with your tsconfig and typescript 4.4.4 but couldn't get it to fail. Do you have a repo that reproduces the error?

[2021-11-02 10:11] alexisvisco commented on #1076
Yes https://github.com/asvf-montagne/client try to remove the `"useUnknownInCatchVariables": false` from the tsconfig and do "yarn build" after yarn install :)

[2021-11-02 10:17] alexisvisco commented on #1076
@bidoubiwa  i give you an access to github.com/asvf-montagne/api (check your email)

Clone it, remove in the tsconfig the line `"forceConsistentCasingInFileNames": true`
Run `yarn build` :)

[2021-11-02 10:20] bidoubiwa commented on #1076
Thanks @alexisvisco ! I just made it work in the repo. I should have added `useUnknownInCatchVariables` in our tsconfig.json as well when upgrading to typescript 4.4.4.
I come back to you asap :)

[2021-11-02 11:45] bidoubiwa opened #1079 "Remove the mandatory `dom` lib from tsconfig"
**Description**
When using meilisearch-js in a typescript environment it is required to add `dom` to the `lib` field in your `tsconfig.json`.
This is due to tsconfig overwriting `dom` types for some reason.
[See this comment](https://github.com/lquixada/cross-fetch/issues/45#issuecomment-473480426)

**Expected behavior**
Not having to add `dom` to the `lib` field.

**Current behavior**
You have to

[2021-11-02 12:51] #1076 closed

[2021-11-04 14:42] bidoubiwa opened #1083 "Add error fields in Update type (for meilisearch v0.24)"
In the Update type, in case of `status="failure"`  a new field error is added in the returned object. It contains the following fields:
- `message`
- `code`
- `type`
- `link`

For example:
[code]

these should be added in [the Update type](https://github.com/meilisearch/meilisearch-js/blob/5603e1d7424fb9364b5d9e361ac5fecf105df9a5/src/types/types.ts#L167)

Should be done once MeiliSearch v0.24.0 is

[2021-11-08 15:29] #913 closed

[2021-11-10 10:42] tao commented on #970
With Solution 1: Step 2, I think you'll need to update this to include the following line:

[code]

This is because you can run into an error if you switch indexes dynamically and the filter doesn't exist in the new index:

[code]

So the code could be updated to ensure the key exists before checking if the `cachedField` exists in the facet.

[code]

[2021-11-10 11:27] bidoubiwa commented on #970
Indeed I forgot to think about this use case. I'm updating the step 🔥

[2021-11-19 22:33] joevtap opened #1093 "Volume binding not working with getmeili/meilisearch:latest Docker image"
**Description**
Volume binding won't work with getmeili/meilisearch:latest Docker image. So I cannot persist my indexes using this version of the Docker image for Meilisearch

**Expected behavior**
Binding a dir in host machine to /data.ms in container should work and keep data persistent

**Current behavior**
Files inside the container are not binded to host machine and data is not persistent

**

[2021-11-22 10:58] bidoubiwa opened #1098 "Tests are failing randomly"
Since this PR:
- https://github.com/meilisearch/meilisearch-js/pull/969 Integrations tests fail randomly.

The tests that are failing are always the same ones:

[code]

[2021-11-23 16:51] bidoubiwa opened #1102 "Update .code-samples.meilisearch.yaml"
Related to https://github.com/meilisearch/integration-guides/issues/155

Following the documentation issue (https://github.com/meilisearch/documentation/issues/1290) and PR (https://github.com/meilisearch/documentation/pull/1214) an additional code-sample must be added in the .code-samples.meilisearch.yaml file at the root of the repository.

### Information:

Using the following information the c

[2021-11-25 14:45] #1102 closed

[2021-12-15 15:34] jrodl3r opened #1115 "updateDocumentsInBatches() doesn't import every item"
When I use this, the total records added should be 10165, but only 9965 are added:

`meili.index("coins").updateDocumentsInBatches(update, 100);`

When I use this, the total records added should also be 10165, but only 9165 are added:

`meili.index("coins").updateDocumentsInBatches(update, 1000);`

Please advise. Would like to know if I might be using this the wrong way? Thx!

[2021-12-16 20:28] advename commented on #470
Sorry for hijacking your issue, but what a beautiful and extensive research you've done here @bidoubiwa, very detailed!

One thing i want to add is that the Rollup setup you initially had, just when you added the axios depdency and AMD and Browser failed, is suitable as well.

As Webpack [writes on their website](https://webpack.js.org/guides/author-libraries/#externalize-lodash) with an library e

[2021-12-16 23:21] Al-0 commented on #1115
Hi, I would like to work on this issue.

[2021-12-17 21:46] Al-0 commented on #1115
@jrodl3r Could you please provide an example of of the data that you used in the update method? Also, the browser that you used and version of the project would be highly appreciated!

[2021-12-18 18:25] jrodl3r commented on #1115
@Al-0 Yes sir, here is the data output link I'm pulling from: `https://api.coingecko.com/api/v3/coins/list`

[2021-12-20 05:32] Al-0 commented on #1115
@jrodl3r After testing it out, I found out that the issue is that some of the indexes contain invalid characters (such as '['). This is an issue with the API itself, I'm not sure if changing the API is possible, but for the moment you could parse the indexes before updating.
https://docs.meilisearch.com/errors/#invalid_document_id

<img width="1087" alt="Screen Shot 2021-12-19 at 23 28 52" src="ht

[2021-12-22 10:35] bidoubiwa commented on #1115
Hey, thanks for the feedback and thanks a lot @Al-0 for the investigation! 🔥

@jrodl3r out of curiosity, was it clear for you that `addDocumentsInBatches` returns update id's to extended information on the add documents task?

It's for documentation purposes

[2021-12-22 17:39] bidoubiwa commented on #1115
Thanks a lot!
@dichotommy you could be interested by this feedback :)

[2021-12-22 17:39] #1115 closed

[2022-01-05 17:55] curquiza commented on #1093
Hello @joevtap

Sorry for the delay.
This issue is known and will be fixed in v0.25.0, released next week. Sorry for the inconvenience.

I close this issue since it's not related to meilisearch-js

[2022-01-05 17:55] #1093 closed

[2022-01-18 16:33] curquiza opened #1137 "Remove `public key` and `private key` wording"
Not a big deal, but we should remove the following wording
- `private key`
- `public key`

from our test (even the variable names if there are any) and any documentation.

Indeed, since [MeiliSearch v0.25.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.25.0), `private key` is replaced by `admin key` and `public key` by `search key`.

[2022-01-26 14:48] psvnlsaikumar commented on #1137
@curquiza  can I pick it up?
From what I understand, you mean to rename the variables from privateKey to adminKey, and publicKey to searchKey correct?

**Example**
The below current code
`  const privateKey = keys.find((key: Key) =>
      key.description.startsWith('Default Admin API Key')
    )`

The expected change in code
`  const adminKey = keys.find((key: Key) =>
      key.description.startsW

[2022-01-27 16:38] curquiza commented on #1137
Hello @psvnlsaikumar!
Exactly, you get the issue! :)

Indeed, you don't need to be assigned, please open a PR when you have the time, thank you so much 🙂

[2022-02-01 00:54] benatshippabo opened #1145 "Difference between `getIndex` and `index`?"
What is the difference between `getIndex` and `index`. I looked at the functions, but they both seem pretty similar to each other. When would you use one over the other?

https://github.com/meilisearch/meilisearch-js/blob/fbc87a4282114999eff3a62c4ff5969d888601a5/src/lib/meilisearch.ts#L47-L70

[2022-02-01 14:55] bidoubiwa commented on #1145
Hey @benatshippabo
One is just creating an instance of the `Index` class, the other makes a HTTP request to Meilisearch and returns an instance of `Index` but with information gathered from your Meilisearch instance.

Does this make sense ? Feel free to tell me otherwise

[2022-02-01 14:55] bidoubiwa commented on #1098
This has been fixed with the v0.25.0 release of MeiliSearch !

[2022-02-01 14:55] #1098 closed

[2022-02-01 14:55] bidoubiwa commented on #1083
It has been fixed by #1081

[2022-02-01 14:55] #1083 closed

[2022-02-01 17:07] #1145 closed

[2022-02-02 21:26] bidoubiwa opened #1146 "Task type is incomplete. Details field contains a lot more of possibilities"
**Description**
The `Task` type represents what is returned by any [asynchronous task(https://docs.meilisearch.com/learn/advanced/asynchronous_operations.html#asynchronous-operations) in meilisearch

One of the fields returned by a succeeded or failed task is a `details` field containing further information.
Currently, the type only has these two options:

[code]

**Expected behavior**
Type should

[2022-02-07 19:12] 0xjoohi commented on #694
Thank you for mentioning this. On React, they use the Instant Search library. What did you use on the front end for react native?

[2022-02-07 20:04] benhowes commented on #694
Still instant search, but with the react native components library (part of instant search)

[2022-02-08 09:49] 0xjoohi commented on #694
Thank you @benhowes

[2022-02-09 10:14] bidoubiwa commented on #1137
Partially fixed by #1147

[2022-02-09 13:40] #1146 closed

[2022-03-21 15:38] brunoocasali opened #1179 "Update .code-samples.meilisearch.yaml"
⚠️ This issue is generated. It means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already wholly/partially implemented. Feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisearch/i

[2022-04-06 20:10] brunoocasali commented on #1035
@bidoubiwa I think this issue can be closed right?

[2022-04-07 14:45] #1035 closed

[2022-04-07 16:02] bidoubiwa commented on #1
Hey @tpayet is this still something that we want or should we wait for it to be implemented in Meilisearch?

[2022-04-07 16:08] bidoubiwa commented on #757
A playground has been provided with a functioning watch mode! `yarn playground:javascript`
Note that this only tests the package in a  front-end environment

[2022-04-07 16:08] #757 closed

[2022-04-07 16:09] bidoubiwa commented on #665
This has been fixed! Not sure in which PR

[2022-04-07 16:09] #665 closed

[2022-04-07 16:13] #889 closed

[2022-04-07 16:26] #931 closed

[2022-04-07 22:35] curquiza commented on #1
FYI multi index search is planned before the end of 2022 (even during Q3 if everything is doing well)

[2022-04-08 14:45] bidoubiwa commented on #1
Should we move this PR to meilisearch/product ?

[2022-04-08 14:54] curquiza commented on #1
Nope, a discussion already exists: https://github.com/meilisearch/product/discussions/320

[2022-04-08 15:05] bidoubiwa commented on #1
Ill people go there if there want to talk about it

[2022-04-09 14:39] lededje opened #1187 "Typescript: updateDocument should be allow partial documents"
**Description**
When updating a document the type should be a partial document that requires an id an some other key rather than the full document structure.

**Environment:**
- OS: linux
- Meilisearch image: getmeili/meilisearch:v0.26.1
- meilisearch-js version: v0.25.0

[2022-04-11 13:15] #1179 closed

[2022-04-11 19:54] naodya opened #1190 "Hit missing _formatted property"
**Description**
I’m using the JS SDK "meilisearch": "^0.25.0" and for some reason when I invoke `client.index("my-index").search(q, options, config)` the hits I’m getting back don’t have `_formatted` field and all the indexes are returned. Basically `q` is not honored. The weird thing is this issue doesn’t happen in my local development environment. My code is deployed on Google Cloud Run. And Mei

[2022-04-12 17:08] oluademola commented on #1190
Hi @naodya 👋
I believe you forgot to add the attributesToHighlight or attributesToCrop in your search query. These are the search parameters that enable the _formatted field to display.
Hope this helps. Thank you 🙂

[2022-04-12 17:15] naodya commented on #1190
Hey @oluademola, thanks for the response,  I haven't :) I believe it's something to do with the `search` function. Currently as a workaround, I'm using `fetch` and it works without any issue. Still banging my head!

Workaround:

[code]

[2022-04-13 09:22] bidoubiwa commented on #1187
Hello @lededje
Do you mean something like this
[code]

Instead of `documents: Array<Document<T>>` ?

[2022-04-13 16:27] oluademola commented on #1190
Hi @naodya
We're a bit curious as to why you have to use a workaround to get the formatted field to show up. Could you perhaps provide the contents of your options object so that we can verify the search parameters you're parsing to the search function?
Thank you 🙂

[2022-04-13 19:10] naodya commented on #1190
I think express request body was playing a trick on me.  `options as SearchParams` fixed the issue. Thanks!

![2022-04-13 at 13](https://user-images.githubusercontent.com/1115720/163252361-1c2542d6-abea-4fc9-9eb3-9c7bd4535b7b.png)

[2022-04-14 14:41] bidoubiwa opened #1198 "Make SearchParams more permissive"
as per #1190

The type `SearchParams` contains every meilisearch [search parameters](https://docs.meilisearch.com/reference/api/search.html#search-in-an-index-with-post-route) except the `q` (query) parameter.

The `q` parameter is instead provided by the first argument of the `search()` method:

[code]

Meaning that if the user want to provide a whole object containing all the parameters like it

[2022-04-15 07:13] linlai163 opened #1199 "MeiliSearchCommunicationError: request to https://trantor-meilisearch.app.terminus.io/indexes/trantor/search failed, reason: connect ECONNREFUSED at t.<anonymous> (docs-searchbar.min.js:2:67933)"
Hey guys, I meet a problem when I use meilisearch-js.

In the old version, It works great. But yesterday, I just changed some code(nothing to do with meilisearch-js)，after I deploy my website, I found I can't use the search service.

[code]

and this is the code in my project
[code]

You can reproduce the problem in [https://trantor-doc-test-mobile.app.terminus.io/v1.0.x/doc/quick-start/base-trant

[2022-04-18 07:56] #1199 closed

[2022-04-19 06:59] oluademola commented on #1190
@naodya I'm glad you were able to find a solution! Thank you 🙂

[2022-04-19 08:30] #1190 closed

[2022-04-20 16:40] kiwo12345 opened #1204 "Does updateSettings() needs to be called everytime I need to sort or filter?"
I am using Meilisearch together with Laravel Scout to index my data, then instead of Scout I use meilisearch-js in my frontend to search the data.

But I have a question about sorting and filtering data, do I need to call `updateSettings` each time I need to sort data or should I simply just run this from eg a admin endpoint once to store the settings?

Because Laravel Scout has the fuction `publi

[2022-04-21 16:38] alallema commented on #1204
Close duplicated issue in favor of [#314](https://github.com/meilisearch/meilisearch-php/issues/314)

[2022-04-21 16:38] #1204 closed

[2022-04-27 13:38] #1187 closed

[2022-04-28 11:05] mmachatschek commented on #1198
@bidoubiwa what do you think about additionally changing the signature of the search function to allow both 2 and 3 arguments to be passed?

We can easily check if the first argument is an object and assert that the user passes the SearchParams object, the second argument would be the config object in that case.

e.g.
[code]

[2022-04-28 15:10] bidoubiwa commented on #1198
That is a great idea! I often find myself annoyed by the fact that I have to separate the query from my requests.

[2022-05-03 16:35] bianjunjie1981 opened #1217 "triggerUncaughtException"
This is a simple query. Why cannot exceptions be caught and the process exits
How do I do it?

[code]

[code]

[2022-05-03 16:51] bidoubiwa commented on #1217
Hello @bianjunjie1981
What are you trying to achieve? I'm not sure I understand.
You are getting an index that does not exists. If you want to create an Index instance you can also do
[code]

and then later you can work with it

[code]

But in any case if you `index` does not exists yet you'll have that error.

[2022-05-03 17:26] bianjunjie1981 commented on #1217
I know that index doesn't exist, and I know how to create it.
What I want to talk about here is exception handling,
For example, it is normal for a program to sometimes judge probes first.
Anyway, this is just a simple GET, and it's not an unknowable systemic exception,
This should not cause the process to exit.

[2022-05-04 09:53] bidoubiwa commented on #1217
What would you prefered as behavior?
Could you show an example?

[2022-05-05 11:39] bidoubiwa opened #1221 "Remove support for node 12 and ensure support for node 18"
Node version compatibilities should be changed in the tests and the readme.

See [related issue](https://github.com/meilisearch/integration-guides/issues/196).

### Previous ensured compatibilities:
- Node 12
- Node 13
- Node 14

### New compatibilities to ensure:
- Node 14
- Node 16
- Node 18

## TODO:

- [ ] Update requirements/compatibilities in README.md.
- [ ] Update node versions tested in C

[2022-05-05 13:25] bidoubiwa opened #1222 "Fix Task type"
Currently [Task is defined like this in the types](https://github.com/meilisearch/meilisearch-js/blob/main/src/types/types.ts)

https://github.com/meilisearch/meilisearch-js/blob/746de52be29128d26f26b51b87b0d2e6d5b566b8/src/types/types.ts#L169-L175

`enqueuedTask` should be `enqueuesAt` as per [the specs](https://github.com/meilisearch/specifications/blob/main/text/0060-tasks-api.md#iii-explanatio

[2022-05-05 13:26] bidoubiwa opened #1223 "Date fields should not be in string format"
A lot of field that contain date information are defined as string, example:

https://github.com/meilisearch/meilisearch-js/blob/746de52be29128d26f26b51b87b0d2e6d5b566b8/src/types/types.ts#L219-L220

These should become `Date` types

[2022-05-05 14:29] bidoubiwa opened #1227 "Change sentences in comments mentionning updates instead of tasks"
In multiple parts of the code-base, mostly whenever an EnqueuedTask is returned, the comment related is the following:
`* @returns {Promise<EnqueuedTask>} Promise containing object of the enqueued update`

Example:

https://github.com/meilisearch/meilisearch-js/blob/c8539a2b41f8710854062daedd4c3bd7084144f2/src/lib/indexes.ts#L351

These should be changed as `updates` are now called `tasks` the fol

[2022-05-16 11:09] #1227 closed

[2022-05-16 11:14] #1222 closed

[2022-05-16 16:36] mdubus opened #1235 "`Cannot read property 'startsWith' of undefined` when the host is empty or undefined"
**Description**
By passing a host which is empty or undefined, a non-human-friendly error is raised.

**Expected behavior**
Having a more explicit error message.

**Screenshots or Logs**
[code]

**Environment (please complete the following information):**
- Meilisearch version: v.0.23.0
- Instant-meilisearch version: v0.5.10

[2022-05-23 07:49] brunoocasali opened #1240 "JavaScript hosted documentation"
Following the integration-guides issue [#201](https://github.com/meilisearch/integration-guides/issues/201) we must implement the automatic documentation in this SDK.

- [ ]  Decide which module will be used.
- [ ]  Implement it based on these constraints:
    - [ ]  Should base the documentation on the code comments
    - [ ]  Should be run automatically
    - [ ]  Should be run automatically fro

[2022-05-25 12:12] bidoubiwa opened #1241 "Consider renaming this repo meilisearch.js"
To avoid confusing between the version of the engine [meilisearch](https://github.com/meilisearch/meilisearch/) and this package [meilisearch](https://github.com/meilisearch/meilisearch-js/) it could be wise to suffix the package with the now-common `.js`.

This would imply Changing the name of the package to `meilisearch.js` instead of just `meilisearch`.
Nonetheless, I think the github repo shou

[2022-05-30 12:26] bidoubiwa commented on #1217
Any update on this? It seems like a javascript issue. Try and catch should catch every error.

[2022-06-07 14:25] bidoubiwa commented on #1235
Hello! I tried your code but unfortunately I could not reproduce it :/

[code]

All resolve to the same error:
[code]

[2022-06-08 08:57] #1040 closed

[2022-06-08 09:03] #1198 closed

[2022-06-08 13:58] nicolasvienot commented on #1235
Hello!

I had the same issue while launching the [landing](https://github.com/meilisearch/landing) (branch: [add_home_page_tests](https://github.com/meilisearch/landing/tree/add_home_page_tests)) in dev mode. It should be same behavior in `main`.

**To reproduce:**
- Clone the repository
- Make sure you don't have the environment variables `NEXT_PUBLIC_DEMO_MOVIES_HOST` and `NEXT_PUBLIC_DEMO_MOVIE

[2022-06-08 14:54] bidoubiwa commented on #1235
This is a very old version of `instant-meilisearch`.  It has been fixed in meilisearch-js here: https://github.com/meilisearch/meilisearch-js/pull/1168

[2022-06-08 15:04] #1235 closed

[2022-06-08 15:16] bidoubiwa commented on #1235
I checked and indeed the fix is introduces in v0.6.1 of instant-meilisearch

[2022-06-22 18:21] #741 closed

[2022-06-22 18:21] bidoubiwa commented on #524
Fixed

[2022-06-22 18:21] #524 closed

[2022-06-24 07:59] mmachatschek opened #1273 "Meilisearch errors are not comparable with the instanceof operator"
**Description**
Catching erros which are produced by the meilisearch.js library can not be compared with the `instanceof` operator in javascript. The only meilisearch error class that has this is `MeiliSearchApiError`

**Expected behavior**

this should work:

[code]

**Current behavior**

it's only possible to use the `instanceof` operator on the `MeiliSearchApiError` class

[code]

[2022-06-26 08:19] lrvinye opened #1275 "Typescript file has a misspelling"
**Description**
Misspelling: `disabledOnAttributes` should be `disableOnAttributes`

**the code is here** :

[code]

**Environment (please complete the following information):**
- meilisearch-js version: v0.25.1

[2022-06-27 11:40] #1273 closed

[2022-06-27 11:55] bidoubiwa opened #1280 "Improve JsDoc comments"
Currently, the jsDocs comments are quite rudimentary and would win by being more complete.

For example, default values could be added where they are present

Example:
[code]

Here we added `[parameters={}]` as the default value of the parameter.

Other improvements are code examples directly inside the comments. Which would make generating a documentation in the long run easier.

[2022-06-27 12:31] #1275 closed

[2022-07-12 16:00] coder36 opened #1297 "Calling updateFilterableAttributes gives Method Not Allowed exception"
**Description**

[code]
Gives:
[code]

**Expected behavior**
Filter attributes should be updated

**Current behavior**
Error. Filter attributes not updated.

**Environment (please complete the following information):**
- OS: Mac
- Meilisearch version: v0.27.2
- meilisearch-js version: [e.g 0.27.0]

Doing via curl
[code]
Gives 405 Method Not Allowed

---

However if I change the method to POST it w

[2022-07-16 18:12] brunoocasali opened #1298 "Add support to the pagination setting customization at the index level"
⚠️ This issue is generated, which means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/205
- engine issue: https://github.com/meilisearch/specifications/pull/157, https://

[2022-07-16 18:17] brunoocasali opened #1299 "Add support to the facet setting customization at the index level"
⚠️ This issue is generated, which means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/205
- engine issue: https://github.com/meilisearch/specifications/pull/157, https://

[2022-07-18 09:34] bidoubiwa commented on #1297
Hello @coder36
This is due to a mismatch between your meilisearch-js extension and your meilisearch (the database version).

If you want to stay on Meilisearch version `v0.27.0` you need to downgrade this package to `v0.26.x`.
Similarely if you update your Meilisearch database to `v0.28.0` you can stay on `v0.27.0` of meilisearch-js :)

[2022-07-18 16:40] BarakBinyamin opened #1302 "TypeError: response.map is not a function"
**Description**
This happens when using the `client.getIndexes()` Javascript API call in the browser.

**Expected behavior**
A list of indexes

**Current behavior**
TypeError: response.map is not a function

**Work around**
[code]

**Possible Cause**
[code]

**Environment:**
Browser -  Firefox & chrome

[2022-07-19 15:20] bidoubiwa commented on #1302
Hey @BarakBinyamin
Could you tell me which version of meilisearch-js and meilisearch you are using? There seems to be a mismatch between their compatibilities.

[2022-07-19 16:16] BarakBinyamin commented on #1302
Using npm install from my vue project got me version **0.26.0**
of meilisearch

Running meilisearch package version **0.28.0** in a docker container

[2022-07-20 09:52] bidoubiwa commented on #1302
The issue lies here!

You should upgrade meilisearch-js to v0.27.0 or downgrade meilisearch to 0.27.0 and it should work!
( the version have the same name but it is just a coincidence haha)

[2022-07-20 19:25] BarakBinyamin commented on #1302
Thanks!

After upgrading meilisearch-js, both functions work, and they return the same data.

[2022-07-21 10:03] bidoubiwa commented on #1302
Perfect! Closing this issue :)

[2022-07-21 10:03] #1302 closed

[2022-08-01 14:06] bidoubiwa commented on #1297
Closing this as the issue was explained

[2022-08-01 14:06] #1297 closed

[2022-08-02 10:45] bidoubiwa commented on #1221
fixed by #1309

[2022-08-02 10:45] #1221 closed

[2022-08-11 16:17] ar-siddiqui commented on #970
Are we hoping to go back to returning 0 values in the future versions? We do not like meilisearch not returning 0 values.

For our case for example we have an attribute file_type that can be either document, pdf, movie, or image. There is no easy way to configure the frontend client to show movies still if someone has already selected an image.

[2022-08-22 09:37] bidoubiwa commented on #970
You can ask about that in the product repository where the design of Meilisearch is decided. You can open a [discussion](https://github.com/meilisearch/product/) with your request :)

[2022-09-27 15:03] bidoubiwa commented on #1217
Closing this, if the errors comes back do not hesitate to re-open

[2022-09-27 15:09] bidoubiwa commented on #716
The issue is not fixed and waiting for contribution ❤️

[2022-09-27 15:09] #321 closed

[2022-10-03 09:29] bidoubiwa opened #1342 "Transform Task and EnqueuedTask to their own class"
⚠️ Not before #1338 is merged

Currently `Task` and `EnqueuedTask` are types.
Which means that they have no constructor attached to them.

Nonetheless, we need to change their date format from a `string` to a `Date` type. See [here](https://github.com/meilisearch/meilisearch-js/pull/1338/files#diff-41bc16013539b5b30c19f764d2485a383a77b8825f4f53aa51f462ddbc328331R29).

To avoid having to do this re

[2022-10-03 13:54] blenderskool commented on #1342
@bidoubiwa What is the `TaskInfo` type? I only see `Task` type in the `types/` directory

[2022-10-03 14:14] bidoubiwa commented on #1342
My bad, its `enqueuedTask`

[code]

I'll update the body! Can you wait for this PR to be merged before working on it ? #1338

[2022-10-03 14:17] blenderskool commented on #1342
@bidoubiwa Thanks for the clarification! I'll wait till the linked PR is merged 🙂

[2022-10-03 16:16] #1223 closed

[2022-10-03 16:19] Sukriti-m commented on #1137
Hi @bidoubiwa
I'd like to work on this issue. Please assign it to me.

[2022-10-03 16:36] bidoubiwa commented on #1342
It is merged !

[2022-10-04 11:42] bidoubiwa commented on #1137
Thanks for your interest in this project 🔥 You are definitely more than welcome to open a PR for this!

We prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors from opening a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following

[2022-10-04 13:16] #1342 closed

[2022-10-04 16:11] bidoubiwa opened #1346 "Update js-docs comment on enqueued tasks"
⚠️ Once #1344 and #1339 are merged

Since `EnqueuedTask` is now a Class and not an object, the js-docs should be updated accordingly.

Everywhere the following is written

https://github.com/meilisearch/meilisearch-js/blob/148150643ec26d1a441701c908d58d85432fa57f/src/indexes.ts#L387

It should be changed with something more relevant. For example:

[code]

Or something else if you think its better

[2022-10-04 16:16] #1299 closed

[2022-10-04 19:25] MoskalykA commented on #1346
I'll take care of it once the two changes are made

[2022-10-05 10:04] #1298 closed

[2022-10-05 11:55] #1137 closed

[2022-10-05 11:59] #1346 closed

[2022-10-09 01:37] jimmyruann opened #1350 "MatchingStrategies const enums when the --isolateModules flag is provided"
**Description**
I am trying to import `MatchingStrategies` into my next app and got this error. I understand that disabling `--isolateModules` will resolve the problem but Next.Js keep reverting tsconfig back.

**Expected behavior**
No isolateModules error.

**Current behavior**
Getting this error `Cannot access ambient const enums when the '--isolatedModules' flag is provided.`

**Screenshots or

[2022-10-10 10:57] bidoubiwa commented on #1350
Hey @jimmyruann
There is actually an issue with exporting enums from a library. I'll try to explain that better ASAP :)

[2022-10-11 00:36] jimmyruann commented on #1350
I did something like this, shall I raise PR?
[code]
Source: https://github.com/jimmyruann/meilisearch-js/commit/94c5adb9c3ef85392210297458f18cd437b70c98

[2022-10-11 10:48] brunoocasali opened #1356 "Replace MEILISEARCH_HOST by MEILISEARCH_URL in the docker config"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already partially/completely implemented, feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisear

[2022-10-12 10:48] #1356 closed

[2022-10-12 11:04] bidoubiwa commented on #1350
Yes @jimmyruann, I will try it between my typescript projects. I read a bit online and this seems a valid solution.
Thanks a lot

[2022-10-13 12:13] #1350 closed

[2022-10-18 19:02] bidoubiwa commented on #912
Thanks for your interest in this project 🔥 You are definitely more than welcome to open a PR for this!

We prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors from opening a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following

[2022-10-18 20:48] brunoocasali opened #1364 "Add new code-samples requested by the Meilisearch v0.29 release"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Sorry if this is already wholly/partially implemented. Feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisearch/integr

[2022-10-25 09:44] #1364 closed

[2022-10-31 15:08] wancup opened #1373 "Can I import the EnqueuedTask class?"
On v0.29.0, EnqueuedTask class is not exported from meilisearch-js package.

[code]

Currently(v 0.28.0), I import and use the EnqueuedTask type in my modules. So, this change is a bit inconvenient.
There is a plan to export EnqueuedTask class? Or should I not reuse the class in my files?

[2022-10-31 18:32] brunoocasali opened #1374 "Improve test readability by creating customized vitest matchers"
We have a lot of repetition around the assertions of the keys in the response like:

<img width="505" alt="image" src="https://user-images.githubusercontent.com/4116980/199082708-e0b8d5ef-56ad-466b-b7b7-7e527df854d2.png">
<img width="536" alt="image" src="https://user-images.githubusercontent.com/4116980/199082725-b39996c7-47b5-4768-8c8e-947a6617db25.png">
<img width="567" alt="image" src="https:/

[2022-11-02 13:09] bidoubiwa commented on #1373
Hey @wancup !

The name has changed to `EnqueuedTaskObject` as per this PR https://github.com/meilisearch/meilisearch-js/pull/1343

[2022-11-02 13:10] bidoubiwa commented on #1373
Hey @wancup `enqueuedTask` is now a `Class` you can import it without the `type` wording.

Or, alternatively, you can use `enqueuedTaskObject` in case you are not using the class but the object

[2022-11-02 14:11] wancup commented on #1373
@bidoubiwa Thanks for the reply!
And sorry, my example was wrong. But, without the `type` word, I get the same result.

![スクリーンショット 2022-11-02 23 09 59](https://user-images.githubusercontent.com/62416191/199511275-363a3769-cf87-47e8-bcee-970f1f97a069.png)

https://codesandbox.io/s/staging-dust-7e1x97?file=/src/index.ts

I think the reason why is `EnqueuedTask` class (in enqueued-task.ts) is not ex

[2022-11-03 11:03] bidoubiwa commented on #1373
Hey @wancup, my bad you are right! Fixing this asap :) #1377

[2022-11-03 11:23] bidoubiwa commented on #1373
Fixed and released in v0.29.1.

Could you confirm it fixes your issue?

[2022-11-03 11:51] wancup commented on #1373
It's fixed! Thank you so much! @bidoubiwa

[2022-11-03 11:51] #1373 closed

[2022-11-03 20:37] bidoubiwa opened #1380 "Change `JSDoc` comments with `TSdoc`"
Currently, the comments providing context on methods are done using `JSdoc`. Unfortunately, this means that we need to duplicate the types from the function prototype in the JSdoc comment. Additionally, JSDoc comments are not always kept up to date and suggest other types than the typescript prototype.

To tackle this issue, we should change `JSdoc` to [`TSdoc`](https://github.com/meilisearch/meil

[2022-11-03 20:39] bidoubiwa opened #1381 "All details field in the Task object should be typed as optional"
Some fields in the details field of a Task appeared to be `none optional`. This is false and they should be changed to optional (adding a `?`).

https://github.com/meilisearch/meilisearch-js/blob/7747e1a60e3169c9bd5e3fb0717cc1050a836a74/src/types/types.ts#L246-L285

[2022-11-07 18:49] brunoocasali commented on #1380
This could be automatically generated by some tool. Since you are already typing the types in the code `): Promise<EnqueuedTask>`

[2022-11-08 13:18] bidoubiwa commented on #1380
I looked a bit arround, maybe [better-docs](https://github.com/SoftwareBrothers/better-docs) might be cool, not sure

[2022-11-17 04:36] amit-ksh commented on #1381
Hey @bidoubiwa! I'd like to work on this issue.

[2022-11-17 11:34] bidoubiwa commented on #1381
Hey @amit-ksh, thanks a lot! You can go ahaid :) we do not assign

[2022-11-20 00:06] Karman40 opened #1399 "In the case of index statistics, the full path of the field is displayed."
**Environment (please complete the following information):**
- Meilisearch version: 0.29.2
- meilisearch-js version:0.29.1

**DEMO DATA:**
[code]

GET `/indexes/{index_uid}/stats`, the response includes the following fields in the fieldDistribution: `field1, field2, nestedField`
In this case, the nested fields are not included in the statistics.

**It would be nice if it could work somehow as foll

[2022-11-21 16:44] #1381 closed

[2022-11-21 16:56] bidoubiwa commented on #1399
Hey @Karman40, thanks a lot for your suggestion. This repository is a bridge between the user and the Meilisearch engine, meaning that we do not decide what Meilisearch returns. The change must be done in the [Meilisearch engine](https://github.com/meilisearch/meilisearch/) and suggestions on the engine behavior are done in the [product repository](https://github.com/meilisearch/product/discussion

[2022-11-21 16:56] #1399 closed

[2022-11-22 12:23] Karman40 commented on #1399
@bidoubiwa that's right, soory for my mistake. I will write the suggestion soon and link it here.